[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-18179-12145@d654556f25ca','global_group_SUITE-global_disconnect-cpy-18211-12145@d654556f25ca','global_group_SUITE-global_disconnect-cpz-18243-12145@d654556f25ca']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-18083-12145@d654556f25ca','global_group_SUITE-global_disconnect-cp2-18115-12145@d654556f25ca','global_group_SUITE-global_disconnect-cp3-18147-12145@d654556f25ca']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-18179-12145@d654556f25ca','global_group_SUITE-global_disconnect-cpy-18211-12145@d654556f25ca','global_group_SUITE-global_disconnect-cpz-18243-12145@d654556f25ca']}]}
  ]
 }].
