[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-16867-12145@d654556f25ca','global_group_SUITE-no_gg_proc_sync-16899-12145@d654556f25ca','global_group_SUITE-no_gg_proc_sync-16931-12145@d654556f25ca',  'global_group_SUITE-no_gg_proc_sync-16963-12145@d654556f25ca','global_group_SUITE-no_gg_proc_sync-16995-12145@d654556f25ca','global_group_SUITE-no_gg_proc_sync-17027-12145@d654556f25ca']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
