[{kernel,[{sync_nodes_optional,[cp1_otp_4066__1187@d654556f25ca,
                                cp2_otp_4066__1219@d654556f25ca]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__1187@d654556f25ca,
                               cp2_otp_4066__1219@d654556f25ca]}]}]}].
