[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_09_11__11_57_56@d654556f25ca','cp2_global_groups_change__2024_09_11__11_57_56@d654556f25ca','cp3_global_groups_change__2024_09_11__11_57_56@d654556f25ca']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_09_11__11_57_56@d654556f25ca,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_09_11__11_57_56@d654556f25ca,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_09_11__11_57_56@d654556f25ca]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_09_11__11_57_56@d654556f25ca]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_09_11__11_57_56@d654556f25ca]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_09_11__11_57_56@d654556f25ca,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_09_11__11_57_56@d654556f25ca]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_09_11__11_57_56@d654556f25ca,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_09_11__11_57_56@d654556f25ca,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_09_11__11_57_56@d654556f25ca]}]}]}].
