[{kernel,[{logger,[{handler,default,logger_std_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@7329c902356c.2024-09-09_15.18.13/make_test_dir.kernel_test.logs/run.2024-09-09_15.18.43/log_private/file.log"}}}]}]}].