[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_09_09__15_51_01@7329c902356c','cp2_global_groups_change__2024_09_09__15_51_01@7329c902356c','cp3_global_groups_change__2024_09_09__15_51_01@7329c902356c']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_09_09__15_51_01@7329c902356c,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_09_09__15_51_01@7329c902356c,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_09_09__15_51_01@7329c902356c]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_09_09__15_51_01@7329c902356c]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_09_09__15_51_01@7329c902356c]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_09_09__15_51_01@7329c902356c,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_09_09__15_51_01@7329c902356c]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_09_09__15_51_01@7329c902356c,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_09_09__15_51_01@7329c902356c,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_09_09__15_51_01@7329c902356c]}]}]}].
