[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-21091-12150@2ab7e2b37945','global_group_SUITE-no_gg_proc_sync-21123-12150@2ab7e2b37945','global_group_SUITE-no_gg_proc_sync-21155-12150@2ab7e2b37945',  'global_group_SUITE-no_gg_proc_sync-21187-12150@2ab7e2b37945','global_group_SUITE-no_gg_proc_sync-21219-12150@2ab7e2b37945','global_group_SUITE-no_gg_proc_sync-21251-12150@2ab7e2b37945']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
