[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-46306-12144@35f545daf719','global_group_SUITE-no_gg_proc_sync-46338-12144@35f545daf719','global_group_SUITE-no_gg_proc_sync-46370-12144@35f545daf719',  'global_group_SUITE-no_gg_proc_sync-46402-12144@35f545daf719','global_group_SUITE-no_gg_proc_sync-46434-12144@35f545daf719','global_group_SUITE-no_gg_proc_sync-46466-12144@35f545daf719']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
