[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-6307-18363@4dab929b0c28','global_group_SUITE-compatible-6339-18363@4dab929b0c28','global_group_SUITE-compatible-6371-18363@4dab929b0c28',  'global_group_SUITE-compatible-6403-18363@4dab929b0c28','global_group_SUITE-compatible-6435-18363@4dab929b0c28','global_group_SUITE-compatible-6467-18363@4dab929b0c28']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
