[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-50914-18363@4dab929b0c28','global_group_SUITE-hidden_groups-50946-18363@4dab929b0c28','global_group_SUITE-hidden_groups-50978-18363@4dab929b0c28',  'global_group_SUITE-hidden_groups-51010-18363@4dab929b0c28','global_group_SUITE-hidden_groups-51042-18363@4dab929b0c28','global_group_SUITE-hidden_groups-51074-18363@4dab929b0c28']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-50914-18363@4dab929b0c28','global_group_SUITE-hidden_groups-50946-18363@4dab929b0c28','global_group_SUITE-hidden_groups-50978-18363@4dab929b0c28']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-51010-18363@4dab929b0c28','global_group_SUITE-hidden_groups-51042-18363@4dab929b0c28','global_group_SUITE-hidden_groups-51074-18363@4dab929b0c28']}, {nc3, normal, ['global_group_SUITE-hidden_groups-51106-18363@4dab929b0c28']}]} ] }]. 
