[{kernel,[{logger,[{handler,default,logger_disk_log_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@4dab929b0c28.2024-01-12_16.20.06/make_test_dir.kernel_test.logs/run.2024-01-12_16.20.36/log_private/logger_std_h_SUITE_crash_std_h_to_disk_log.log"}}}]}]}].