[{kernel,[{sync_nodes_optional,[cp1_otp_4066__2050@4dab929b0c28,
                                cp2_otp_4066__2082@4dab929b0c28]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__2050@4dab929b0c28,
                               cp2_otp_4066__2082@4dab929b0c28]}]}]}].
