[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-9827-12307@d90e6d937cb9','global_group_SUITE-hidden_groups-9859-12307@d90e6d937cb9','global_group_SUITE-hidden_groups-9891-12307@d90e6d937cb9',  'global_group_SUITE-hidden_groups-9923-12307@d90e6d937cb9','global_group_SUITE-hidden_groups-9955-12307@d90e6d937cb9','global_group_SUITE-hidden_groups-9987-12307@d90e6d937cb9']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-9827-12307@d90e6d937cb9','global_group_SUITE-hidden_groups-9859-12307@d90e6d937cb9','global_group_SUITE-hidden_groups-9891-12307@d90e6d937cb9']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-9923-12307@d90e6d937cb9','global_group_SUITE-hidden_groups-9955-12307@d90e6d937cb9','global_group_SUITE-hidden_groups-9987-12307@d90e6d937cb9']}, {nc3, normal, ['global_group_SUITE-hidden_groups-10019-12307@d90e6d937cb9']}]} ] }]. 
