[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3170@d90e6d937cb9,
                                cp2_otp_4066__3202@d90e6d937cb9]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3170@d90e6d937cb9,
                               cp2_otp_4066__3202@d90e6d937cb9]}]}]}].
