[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9','cp2_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9','cp3_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_02_03__16_33_59@d90e6d937cb9]}]}]}].
