[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_07_12__15_21_21@1d4317f48920','cp2_global_groups_change__2024_07_12__15_21_21@1d4317f48920','cp3_global_groups_change__2024_07_12__15_21_21@1d4317f48920']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_07_12__15_21_21@1d4317f48920,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_07_12__15_21_21@1d4317f48920,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_07_12__15_21_21@1d4317f48920]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_07_12__15_21_21@1d4317f48920]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_07_12__15_21_21@1d4317f48920]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_07_12__15_21_21@1d4317f48920,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_07_12__15_21_21@1d4317f48920]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_07_12__15_21_21@1d4317f48920,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_07_12__15_21_21@1d4317f48920,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_07_12__15_21_21@1d4317f48920]}]}]}].
