[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-52514-12217@f141e39d0607','global_group_SUITE-global_disconnect-cp2-52546-12217@f141e39d0607','global_group_SUITE-global_disconnect-cp3-52578-12217@f141e39d0607']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-52514-12217@f141e39d0607','global_group_SUITE-global_disconnect-cp2-52546-12217@f141e39d0607','global_group_SUITE-global_disconnect-cp3-52578-12217@f141e39d0607']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-52610-12217@f141e39d0607','global_group_SUITE-global_disconnect-cpy-52642-12217@f141e39d0607','global_group_SUITE-global_disconnect-cpz-52674-12217@f141e39d0607']}]}
  ]
 }].
