[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-8739-12228@46764282cabe','global_group_SUITE-compatible-8771-12228@46764282cabe','global_group_SUITE-compatible-8803-12228@46764282cabe',  'global_group_SUITE-compatible-8835-12228@46764282cabe','global_group_SUITE-compatible-8867-12228@46764282cabe','global_group_SUITE-compatible-8899-12228@46764282cabe']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
