[{kernel,[{sync_nodes_optional,[cp1_otp_4066__2082@46764282cabe,
                                cp2_otp_4066__2114@46764282cabe]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__2082@46764282cabe,
                               cp2_otp_4066__2114@46764282cabe]}]}]}].
