[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_04_17__18_14_57@46764282cabe','cp2_global_groups_change__2024_04_17__18_14_57@46764282cabe','cp3_global_groups_change__2024_04_17__18_14_57@46764282cabe']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_04_17__18_14_57@46764282cabe,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_04_17__18_14_57@46764282cabe,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_04_17__18_14_57@46764282cabe]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_04_17__18_14_57@46764282cabe]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_04_17__18_14_57@46764282cabe]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_04_17__18_14_57@46764282cabe,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_04_17__18_14_57@46764282cabe]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_04_17__18_14_57@46764282cabe,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_04_17__18_14_57@46764282cabe,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_04_17__18_14_57@46764282cabe]}]}]}].
