[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-54594-12142@e6da19de5675','global_group_SUITE-hidden_groups-54626-12142@e6da19de5675','global_group_SUITE-hidden_groups-54658-12142@e6da19de5675',  'global_group_SUITE-hidden_groups-54690-12142@e6da19de5675','global_group_SUITE-hidden_groups-54722-12142@e6da19de5675','global_group_SUITE-hidden_groups-54754-12142@e6da19de5675']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-54594-12142@e6da19de5675','global_group_SUITE-hidden_groups-54626-12142@e6da19de5675','global_group_SUITE-hidden_groups-54658-12142@e6da19de5675']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-54690-12142@e6da19de5675','global_group_SUITE-hidden_groups-54722-12142@e6da19de5675','global_group_SUITE-hidden_groups-54754-12142@e6da19de5675']}, {nc3, normal, ['global_group_SUITE-hidden_groups-54786-12142@e6da19de5675']}]} ] }]. 
