[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-55170-12142@e6da19de5675','global_group_SUITE-global_disconnect-cpy-55202-12142@e6da19de5675','global_group_SUITE-global_disconnect-cpz-55234-12142@e6da19de5675']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-55074-12142@e6da19de5675','global_group_SUITE-global_disconnect-cp2-55106-12142@e6da19de5675','global_group_SUITE-global_disconnect-cp3-55138-12142@e6da19de5675']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-55170-12142@e6da19de5675','global_group_SUITE-global_disconnect-cpy-55202-12142@e6da19de5675','global_group_SUITE-global_disconnect-cpz-55234-12142@e6da19de5675']}]}
  ]
 }].
