[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-50082-12195@c86cd36ee740','global_group_SUITE-hidden_groups-50114-12195@c86cd36ee740','global_group_SUITE-hidden_groups-50146-12195@c86cd36ee740',  'global_group_SUITE-hidden_groups-50178-12195@c86cd36ee740','global_group_SUITE-hidden_groups-50210-12195@c86cd36ee740','global_group_SUITE-hidden_groups-50242-12195@c86cd36ee740']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-50082-12195@c86cd36ee740','global_group_SUITE-hidden_groups-50114-12195@c86cd36ee740','global_group_SUITE-hidden_groups-50146-12195@c86cd36ee740']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-50178-12195@c86cd36ee740','global_group_SUITE-hidden_groups-50210-12195@c86cd36ee740','global_group_SUITE-hidden_groups-50242-12195@c86cd36ee740']}, {nc3, normal, ['global_group_SUITE-hidden_groups-50274-12195@c86cd36ee740']}]} ] }]. 
