[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-50658-12195@c86cd36ee740','global_group_SUITE-global_disconnect-cpy-50690-12195@c86cd36ee740','global_group_SUITE-global_disconnect-cpz-50722-12195@c86cd36ee740']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-50562-12195@c86cd36ee740','global_group_SUITE-global_disconnect-cp2-50594-12195@c86cd36ee740','global_group_SUITE-global_disconnect-cp3-50626-12195@c86cd36ee740']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-50658-12195@c86cd36ee740','global_group_SUITE-global_disconnect-cpy-50690-12195@c86cd36ee740','global_group_SUITE-global_disconnect-cpz-50722-12195@c86cd36ee740']}]}
  ]
 }].
