[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-48130-12195@c86cd36ee740','global_group_SUITE-no_gg_proc_sync-48162-12195@c86cd36ee740','global_group_SUITE-no_gg_proc_sync-48194-12195@c86cd36ee740',  'global_group_SUITE-no_gg_proc_sync-48226-12195@c86cd36ee740','global_group_SUITE-no_gg_proc_sync-48258-12195@c86cd36ee740','global_group_SUITE-no_gg_proc_sync-48290-12195@c86cd36ee740']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
