[{kernel,[{sync_nodes_optional,[cp1_otp_4066__1954@c86cd36ee740,
                                cp2_otp_4066__1986@c86cd36ee740]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__1954@c86cd36ee740,
                               cp2_otp_4066__1986@c86cd36ee740]}]}]}].
