[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-52002-12212@e258d1fa7691','global_group_SUITE-global_disconnect-cp2-52034-12212@e258d1fa7691','global_group_SUITE-global_disconnect-cp3-52066-12212@e258d1fa7691']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-52002-12212@e258d1fa7691','global_group_SUITE-global_disconnect-cp2-52034-12212@e258d1fa7691','global_group_SUITE-global_disconnect-cp3-52066-12212@e258d1fa7691']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-52098-12212@e258d1fa7691','global_group_SUITE-global_disconnect-cpy-52130-12212@e258d1fa7691','global_group_SUITE-global_disconnect-cpz-52162-12212@e258d1fa7691']}]}
  ]
 }].
