[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-7811-12212@e258d1fa7691','global_group_SUITE-no_gg_proc_sync-7843-12212@e258d1fa7691','global_group_SUITE-no_gg_proc_sync-7875-12212@e258d1fa7691',  'global_group_SUITE-no_gg_proc_sync-7907-12212@e258d1fa7691','global_group_SUITE-no_gg_proc_sync-7939-12212@e258d1fa7691','global_group_SUITE-no_gg_proc_sync-7971-12212@e258d1fa7691']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
