[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_05_22__23_24_49@e258d1fa7691','cp2_global_groups_change__2024_05_22__23_24_49@e258d1fa7691','cp3_global_groups_change__2024_05_22__23_24_49@e258d1fa7691']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_05_22__23_24_49@e258d1fa7691,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_05_22__23_24_49@e258d1fa7691,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_05_22__23_24_49@e258d1fa7691]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_05_22__23_24_49@e258d1fa7691]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_05_22__23_24_49@e258d1fa7691]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_05_22__23_24_49@e258d1fa7691,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_05_22__23_24_49@e258d1fa7691]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_05_22__23_24_49@e258d1fa7691,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_05_22__23_24_49@e258d1fa7691,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_05_22__23_24_49@e258d1fa7691]}]}]}].
