{incremental,{default_apps,[stdlib,kernel,erts,extra_modules]},
             {default_warning_apps,[extra_modules]}}.
{warnings,[no_unknown]}.
{add_pathsa,["/buildroot/otp/lib/dialyzer/make_test_dir/ct_logs/ct_run.test_server@5461ec2b7d69.2024-11-15_13.30.20/make_test_dir.dialyzer_test.logs/run.2024-11-15_13.30.22/log_private/extra_modules",
             "/buildroot/otp/lib/dialyzer/make_test_dir/ct_logs/ct_run.test_server@5461ec2b7d69.2024-11-15_13.30.20/make_test_dir.dialyzer_test.logs/run.2024-11-15_13.30.22/log_private/extra_modules/ebin",
             "/buildroot/otp/lib/dialyzer/make_test_dir/ct_logs/ct_run.test_server@5461ec2b7d69.2024-11-15_13.30.20/make_test_dir.dialyzer_test.logs/run.2024-11-15_13.30.22/log_private/extra_modules/src"]}.
