[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-38818-18356@9a03eb451b3a','global_group_SUITE-global_disconnect-cpy-38850-18356@9a03eb451b3a','global_group_SUITE-global_disconnect-cpz-38882-18356@9a03eb451b3a']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-38722-18356@9a03eb451b3a','global_group_SUITE-global_disconnect-cp2-38754-18356@9a03eb451b3a','global_group_SUITE-global_disconnect-cp3-38786-18356@9a03eb451b3a']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-38818-18356@9a03eb451b3a','global_group_SUITE-global_disconnect-cpy-38850-18356@9a03eb451b3a','global_group_SUITE-global_disconnect-cpz-38882-18356@9a03eb451b3a']}]}
  ]
 }].
