[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-36386-18356@9a03eb451b3a','global_group_SUITE-no_gg_proc_sync-36418-18356@9a03eb451b3a','global_group_SUITE-no_gg_proc_sync-36450-18356@9a03eb451b3a',  'global_group_SUITE-no_gg_proc_sync-36482-18356@9a03eb451b3a','global_group_SUITE-no_gg_proc_sync-36514-18356@9a03eb451b3a','global_group_SUITE-no_gg_proc_sync-36546-18356@9a03eb451b3a']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
