[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-44898-12207@aa12138a6474','global_group_SUITE-global_disconnect-cpy-44930-12207@aa12138a6474','global_group_SUITE-global_disconnect-cpz-44962-12207@aa12138a6474']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-44802-12207@aa12138a6474','global_group_SUITE-global_disconnect-cp2-44834-12207@aa12138a6474','global_group_SUITE-global_disconnect-cp3-44866-12207@aa12138a6474']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-44898-12207@aa12138a6474','global_group_SUITE-global_disconnect-cpy-44930-12207@aa12138a6474','global_group_SUITE-global_disconnect-cpz-44962-12207@aa12138a6474']}]}
  ]
 }].
