[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_08__11_46_46@e316a4217c75','cp2_global_groups_change__2025_01_08__11_46_46@e316a4217c75','cp3_global_groups_change__2025_01_08__11_46_46@e316a4217c75']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_08__11_46_46@e316a4217c75,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_08__11_46_46@e316a4217c75,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_08__11_46_46@e316a4217c75]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_08__11_46_46@e316a4217c75]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_08__11_46_46@e316a4217c75]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_08__11_46_46@e316a4217c75,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_08__11_46_46@e316a4217c75]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_08__11_46_46@e316a4217c75,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_08__11_46_46@e316a4217c75,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_08__11_46_46@e316a4217c75]}]}]}].
