[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-7523-12275@5f8df5feb546','global_group_SUITE-two_grp-7555-12275@5f8df5feb546','global_group_SUITE-two_grp-7587-12275@5f8df5feb546',  'global_group_SUITE-two_grp-7619-12275@5f8df5feb546','global_group_SUITE-two_grp-7651-12275@5f8df5feb546','global_group_SUITE-two_grp-7683-12275@5f8df5feb546']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-7523-12275@5f8df5feb546','global_group_SUITE-two_grp-7555-12275@5f8df5feb546','global_group_SUITE-two_grp-7587-12275@5f8df5feb546']},  {nc2, ['global_group_SUITE-two_grp-7619-12275@5f8df5feb546','global_group_SUITE-two_grp-7651-12275@5f8df5feb546','global_group_SUITE-two_grp-7683-12275@5f8df5feb546']}, {nc3, ['global_group_SUITE-two_grp-7715-12275@5f8df5feb546']}]} ] }]. 
