[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-7811-12275@5f8df5feb546','global_group_SUITE-hidden_groups-7843-12275@5f8df5feb546','global_group_SUITE-hidden_groups-7875-12275@5f8df5feb546',  'global_group_SUITE-hidden_groups-7907-12275@5f8df5feb546','global_group_SUITE-hidden_groups-7939-12275@5f8df5feb546','global_group_SUITE-hidden_groups-7971-12275@5f8df5feb546']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-7811-12275@5f8df5feb546','global_group_SUITE-hidden_groups-7843-12275@5f8df5feb546','global_group_SUITE-hidden_groups-7875-12275@5f8df5feb546']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-7907-12275@5f8df5feb546','global_group_SUITE-hidden_groups-7939-12275@5f8df5feb546','global_group_SUITE-hidden_groups-7971-12275@5f8df5feb546']}, {nc3, normal, ['global_group_SUITE-hidden_groups-8003-12275@5f8df5feb546']}]} ] }]. 
