[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-8163-12275@5f8df5feb546','global_group_SUITE-global_disconnect-cpy-8195-12275@5f8df5feb546','global_group_SUITE-global_disconnect-cpz-8227-12275@5f8df5feb546']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-8067-12275@5f8df5feb546','global_group_SUITE-global_disconnect-cp2-8099-12275@5f8df5feb546','global_group_SUITE-global_disconnect-cp3-8131-12275@5f8df5feb546']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-8163-12275@5f8df5feb546','global_group_SUITE-global_disconnect-cpy-8195-12275@5f8df5feb546','global_group_SUITE-global_disconnect-cpz-8227-12275@5f8df5feb546']}]}
  ]
 }].
