[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_28__19_55_19@6d04414a31c4','cp2_global_groups_change__2025_01_28__19_55_19@6d04414a31c4','cp3_global_groups_change__2025_01_28__19_55_19@6d04414a31c4']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_28__19_55_19@6d04414a31c4,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_28__19_55_19@6d04414a31c4,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_28__19_55_19@6d04414a31c4]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_28__19_55_19@6d04414a31c4]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_28__19_55_19@6d04414a31c4]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_28__19_55_19@6d04414a31c4,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_28__19_55_19@6d04414a31c4]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_28__19_55_19@6d04414a31c4,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_28__19_55_19@6d04414a31c4,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_28__19_55_19@6d04414a31c4]}]}]}].
