[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-6851-12210@05b69e375543','global_group_SUITE-global_disconnect-cpy-6883-12210@05b69e375543','global_group_SUITE-global_disconnect-cpz-6915-12210@05b69e375543']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-6755-12210@05b69e375543','global_group_SUITE-global_disconnect-cp2-6787-12210@05b69e375543','global_group_SUITE-global_disconnect-cp3-6819-12210@05b69e375543']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-6851-12210@05b69e375543','global_group_SUITE-global_disconnect-cpy-6883-12210@05b69e375543','global_group_SUITE-global_disconnect-cpz-6915-12210@05b69e375543']}]}
  ]
 }].
