[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-55970-12308@ce8620b9f517','global_group_SUITE-global_disconnect-cpy-56002-12308@ce8620b9f517','global_group_SUITE-global_disconnect-cpz-56034-12308@ce8620b9f517']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-55874-12308@ce8620b9f517','global_group_SUITE-global_disconnect-cp2-55906-12308@ce8620b9f517','global_group_SUITE-global_disconnect-cp3-55938-12308@ce8620b9f517']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-55970-12308@ce8620b9f517','global_group_SUITE-global_disconnect-cpy-56002-12308@ce8620b9f517','global_group_SUITE-global_disconnect-cpz-56034-12308@ce8620b9f517']}]}
  ]
 }].
