[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3266@ce8620b9f517,
                                cp2_otp_4066__3298@ce8620b9f517]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3266@ce8620b9f517,
                               cp2_otp_4066__3298@ce8620b9f517]}]}]}].
