[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-11331-12309@34b8b1eaf88e','global_group_SUITE-compatible-11363-12309@34b8b1eaf88e','global_group_SUITE-compatible-11395-12309@34b8b1eaf88e',  'global_group_SUITE-compatible-11427-12309@34b8b1eaf88e','global_group_SUITE-compatible-11459-12309@34b8b1eaf88e','global_group_SUITE-compatible-11491-12309@34b8b1eaf88e']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
