[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-11811-12309@34b8b1eaf88e','global_group_SUITE-hidden_groups-11843-12309@34b8b1eaf88e','global_group_SUITE-hidden_groups-11875-12309@34b8b1eaf88e',  'global_group_SUITE-hidden_groups-11907-12309@34b8b1eaf88e','global_group_SUITE-hidden_groups-11939-12309@34b8b1eaf88e','global_group_SUITE-hidden_groups-11971-12309@34b8b1eaf88e']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-11811-12309@34b8b1eaf88e','global_group_SUITE-hidden_groups-11843-12309@34b8b1eaf88e','global_group_SUITE-hidden_groups-11875-12309@34b8b1eaf88e']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-11907-12309@34b8b1eaf88e','global_group_SUITE-hidden_groups-11939-12309@34b8b1eaf88e','global_group_SUITE-hidden_groups-11971-12309@34b8b1eaf88e']}, {nc3, normal, ['global_group_SUITE-hidden_groups-12003-12309@34b8b1eaf88e']}]} ] }]. 
