[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-52034-12309@34b8b1eaf88e','global_group_SUITE-no_gg_proc_sync-52066-12309@34b8b1eaf88e','global_group_SUITE-no_gg_proc_sync-52098-12309@34b8b1eaf88e',  'global_group_SUITE-no_gg_proc_sync-52130-12309@34b8b1eaf88e','global_group_SUITE-no_gg_proc_sync-52162-12309@34b8b1eaf88e','global_group_SUITE-no_gg_proc_sync-52194-12309@34b8b1eaf88e']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
