[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3202@34b8b1eaf88e,
                                cp2_otp_4066__3234@34b8b1eaf88e]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3202@34b8b1eaf88e,
                               cp2_otp_4066__3234@34b8b1eaf88e]}]}]}].
