[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-39362-12207@6f02b5d411b0','global_group_SUITE-global_disconnect-cp2-39394-12207@6f02b5d411b0','global_group_SUITE-global_disconnect-cp3-39426-12207@6f02b5d411b0']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-39362-12207@6f02b5d411b0','global_group_SUITE-global_disconnect-cp2-39394-12207@6f02b5d411b0','global_group_SUITE-global_disconnect-cp3-39426-12207@6f02b5d411b0']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-39458-12207@6f02b5d411b0','global_group_SUITE-global_disconnect-cpy-39490-12207@6f02b5d411b0','global_group_SUITE-global_disconnect-cpz-39522-12207@6f02b5d411b0']}]}
  ]
 }].
