[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-17699-12207@6f02b5d411b0','global_group_SUITE-no_gg_proc_sync-17731-12207@6f02b5d411b0','global_group_SUITE-no_gg_proc_sync-17763-12207@6f02b5d411b0',  'global_group_SUITE-no_gg_proc_sync-17795-12207@6f02b5d411b0','global_group_SUITE-no_gg_proc_sync-17827-12207@6f02b5d411b0','global_group_SUITE-no_gg_proc_sync-17859-12207@6f02b5d411b0']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
