[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-54498-12212@dbf15d9a6990','global_group_SUITE-hidden_groups-54530-12212@dbf15d9a6990','global_group_SUITE-hidden_groups-54562-12212@dbf15d9a6990',  'global_group_SUITE-hidden_groups-54594-12212@dbf15d9a6990','global_group_SUITE-hidden_groups-54626-12212@dbf15d9a6990','global_group_SUITE-hidden_groups-54658-12212@dbf15d9a6990']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-54498-12212@dbf15d9a6990','global_group_SUITE-hidden_groups-54530-12212@dbf15d9a6990','global_group_SUITE-hidden_groups-54562-12212@dbf15d9a6990']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-54594-12212@dbf15d9a6990','global_group_SUITE-hidden_groups-54626-12212@dbf15d9a6990','global_group_SUITE-hidden_groups-54658-12212@dbf15d9a6990']}, {nc3, normal, ['global_group_SUITE-hidden_groups-54690-12212@dbf15d9a6990']}]} ] }]. 
