[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-52322-12212@dbf15d9a6990','global_group_SUITE-no_gg_proc_sync-52354-12212@dbf15d9a6990','global_group_SUITE-no_gg_proc_sync-52386-12212@dbf15d9a6990',  'global_group_SUITE-no_gg_proc_sync-52418-12212@dbf15d9a6990','global_group_SUITE-no_gg_proc_sync-52450-12212@dbf15d9a6990','global_group_SUITE-no_gg_proc_sync-52482-12212@dbf15d9a6990']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
