[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-15107-12376@53f1190af2fc','global_group_SUITE-compatible-15139-12376@53f1190af2fc','global_group_SUITE-compatible-15171-12376@53f1190af2fc',  'global_group_SUITE-compatible-15203-12376@53f1190af2fc','global_group_SUITE-compatible-15235-12376@53f1190af2fc','global_group_SUITE-compatible-15267-12376@53f1190af2fc']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
