[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-47426-12376@53f1190af2fc','global_group_SUITE-hidden_groups-47458-12376@53f1190af2fc','global_group_SUITE-hidden_groups-47490-12376@53f1190af2fc',  'global_group_SUITE-hidden_groups-47522-12376@53f1190af2fc','global_group_SUITE-hidden_groups-47554-12376@53f1190af2fc','global_group_SUITE-hidden_groups-47586-12376@53f1190af2fc']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-47426-12376@53f1190af2fc','global_group_SUITE-hidden_groups-47458-12376@53f1190af2fc','global_group_SUITE-hidden_groups-47490-12376@53f1190af2fc']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-47522-12376@53f1190af2fc','global_group_SUITE-hidden_groups-47554-12376@53f1190af2fc','global_group_SUITE-hidden_groups-47586-12376@53f1190af2fc']}, {nc3, normal, ['global_group_SUITE-hidden_groups-47618-12376@53f1190af2fc']}]} ] }]. 
