[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-47906-12376@53f1190af2fc','global_group_SUITE-global_disconnect-cp2-47938-12376@53f1190af2fc','global_group_SUITE-global_disconnect-cp3-47970-12376@53f1190af2fc']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-47906-12376@53f1190af2fc','global_group_SUITE-global_disconnect-cp2-47938-12376@53f1190af2fc','global_group_SUITE-global_disconnect-cp3-47970-12376@53f1190af2fc']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-48002-12376@53f1190af2fc','global_group_SUITE-global_disconnect-cpy-48034-12376@53f1190af2fc','global_group_SUITE-global_disconnect-cpz-48066-12376@53f1190af2fc']}]}
  ]
 }].
