[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-45794-12376@53f1190af2fc','global_group_SUITE-no_gg_proc_sync-45826-12376@53f1190af2fc','global_group_SUITE-no_gg_proc_sync-45858-12376@53f1190af2fc',  'global_group_SUITE-no_gg_proc_sync-45890-12376@53f1190af2fc','global_group_SUITE-no_gg_proc_sync-45922-12376@53f1190af2fc','global_group_SUITE-no_gg_proc_sync-45954-12376@53f1190af2fc']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
