[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-8227-12228@755d2b48d0b8','global_group_SUITE-compatible-8259-12228@755d2b48d0b8','global_group_SUITE-compatible-8291-12228@755d2b48d0b8',  'global_group_SUITE-compatible-8323-12228@755d2b48d0b8','global_group_SUITE-compatible-8355-12228@755d2b48d0b8','global_group_SUITE-compatible-8387-12228@755d2b48d0b8']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
