[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-9283-12228@755d2b48d0b8','global_group_SUITE-global_disconnect-cpy-9315-12228@755d2b48d0b8','global_group_SUITE-global_disconnect-cpz-9347-12228@755d2b48d0b8']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-9187-12228@755d2b48d0b8','global_group_SUITE-global_disconnect-cp2-9219-12228@755d2b48d0b8','global_group_SUITE-global_disconnect-cp3-9251-12228@755d2b48d0b8']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-9283-12228@755d2b48d0b8','global_group_SUITE-global_disconnect-cpy-9315-12228@755d2b48d0b8','global_group_SUITE-global_disconnect-cpz-9347-12228@755d2b48d0b8']}]}
  ]
 }].
