[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-7971-12228@755d2b48d0b8','global_group_SUITE-no_gg_proc_sync-8003-12228@755d2b48d0b8','global_group_SUITE-no_gg_proc_sync-8035-12228@755d2b48d0b8',  'global_group_SUITE-no_gg_proc_sync-8067-12228@755d2b48d0b8','global_group_SUITE-no_gg_proc_sync-8099-12228@755d2b48d0b8','global_group_SUITE-no_gg_proc_sync-8131-12228@755d2b48d0b8']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
