[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3266@755d2b48d0b8,
                                cp2_otp_4066__3298@755d2b48d0b8]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3266@755d2b48d0b8,
                               cp2_otp_4066__3298@755d2b48d0b8]}]}]}].
