[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-52290-12228@dab59fb2d590','global_group_SUITE-hidden_groups-52322-12228@dab59fb2d590','global_group_SUITE-hidden_groups-52354-12228@dab59fb2d590',  'global_group_SUITE-hidden_groups-52386-12228@dab59fb2d590','global_group_SUITE-hidden_groups-52418-12228@dab59fb2d590','global_group_SUITE-hidden_groups-52450-12228@dab59fb2d590']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-52290-12228@dab59fb2d590','global_group_SUITE-hidden_groups-52322-12228@dab59fb2d590','global_group_SUITE-hidden_groups-52354-12228@dab59fb2d590']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-52386-12228@dab59fb2d590','global_group_SUITE-hidden_groups-52418-12228@dab59fb2d590','global_group_SUITE-hidden_groups-52450-12228@dab59fb2d590']}, {nc3, normal, ['global_group_SUITE-hidden_groups-52482-12228@dab59fb2d590']}]} ] }]. 
