[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-52866-12228@dab59fb2d590','global_group_SUITE-global_disconnect-cpy-52898-12228@dab59fb2d590','global_group_SUITE-global_disconnect-cpz-52930-12228@dab59fb2d590']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-52770-12228@dab59fb2d590','global_group_SUITE-global_disconnect-cp2-52802-12228@dab59fb2d590','global_group_SUITE-global_disconnect-cp3-52834-12228@dab59fb2d590']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-52866-12228@dab59fb2d590','global_group_SUITE-global_disconnect-cpy-52898-12228@dab59fb2d590','global_group_SUITE-global_disconnect-cpz-52930-12228@dab59fb2d590']}]}
  ]
 }].
