[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-50402-12228@dab59fb2d590','global_group_SUITE-no_gg_proc_sync-50434-12228@dab59fb2d590','global_group_SUITE-no_gg_proc_sync-50466-12228@dab59fb2d590',  'global_group_SUITE-no_gg_proc_sync-50498-12228@dab59fb2d590','global_group_SUITE-no_gg_proc_sync-50530-12228@dab59fb2d590','global_group_SUITE-no_gg_proc_sync-50562-12228@dab59fb2d590']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
