[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-8579-12228@94d58387c3c3','global_group_SUITE-no_gg_proc_sync-8611-12228@94d58387c3c3','global_group_SUITE-no_gg_proc_sync-8643-12228@94d58387c3c3',  'global_group_SUITE-no_gg_proc_sync-8675-12228@94d58387c3c3','global_group_SUITE-no_gg_proc_sync-8707-12228@94d58387c3c3','global_group_SUITE-no_gg_proc_sync-8739-12228@94d58387c3c3']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
