[{kernel,[{sync_nodes_optional,[cp1_otp_4066__131@94d58387c3c3,
                                cp2_otp_4066__163@94d58387c3c3]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__131@94d58387c3c3,
                               cp2_otp_4066__163@94d58387c3c3]}]}]}].
