[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-48610-12207@0ced7468b688','global_group_SUITE-global_disconnect-cp2-48642-12207@0ced7468b688','global_group_SUITE-global_disconnect-cp3-48674-12207@0ced7468b688']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-48610-12207@0ced7468b688','global_group_SUITE-global_disconnect-cp2-48642-12207@0ced7468b688','global_group_SUITE-global_disconnect-cp3-48674-12207@0ced7468b688']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-48706-12207@0ced7468b688','global_group_SUITE-global_disconnect-cpy-48738-12207@0ced7468b688','global_group_SUITE-global_disconnect-cpz-48770-12207@0ced7468b688']}]}
  ]
 }].
