[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-46274-12207@0ced7468b688','global_group_SUITE-no_gg_proc_sync-46306-12207@0ced7468b688','global_group_SUITE-no_gg_proc_sync-46338-12207@0ced7468b688',  'global_group_SUITE-no_gg_proc_sync-46370-12207@0ced7468b688','global_group_SUITE-no_gg_proc_sync-46402-12207@0ced7468b688','global_group_SUITE-no_gg_proc_sync-46434-12207@0ced7468b688']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
