[{kernel,[{sync_nodes_optional,[cp1_otp_4066__1283@0ced7468b688,
                                cp2_otp_4066__1315@0ced7468b688]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__1283@0ced7468b688,
                               cp2_otp_4066__1315@0ced7468b688]}]}]}].
