[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-55362-12376@f35c81ff26f9','global_group_SUITE-hidden_groups-55394-12376@f35c81ff26f9','global_group_SUITE-hidden_groups-55426-12376@f35c81ff26f9',  'global_group_SUITE-hidden_groups-55458-12376@f35c81ff26f9','global_group_SUITE-hidden_groups-55490-12376@f35c81ff26f9','global_group_SUITE-hidden_groups-55522-12376@f35c81ff26f9']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-55362-12376@f35c81ff26f9','global_group_SUITE-hidden_groups-55394-12376@f35c81ff26f9','global_group_SUITE-hidden_groups-55426-12376@f35c81ff26f9']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-55458-12376@f35c81ff26f9','global_group_SUITE-hidden_groups-55490-12376@f35c81ff26f9','global_group_SUITE-hidden_groups-55522-12376@f35c81ff26f9']}, {nc3, normal, ['global_group_SUITE-hidden_groups-55554-12376@f35c81ff26f9']}]} ] }]. 
