[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-55938-12376@f35c81ff26f9','global_group_SUITE-global_disconnect-cpy-55970-12376@f35c81ff26f9','global_group_SUITE-global_disconnect-cpz-56002-12376@f35c81ff26f9']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-55842-12376@f35c81ff26f9','global_group_SUITE-global_disconnect-cp2-55874-12376@f35c81ff26f9','global_group_SUITE-global_disconnect-cp3-55906-12376@f35c81ff26f9']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-55938-12376@f35c81ff26f9','global_group_SUITE-global_disconnect-cpy-55970-12376@f35c81ff26f9','global_group_SUITE-global_disconnect-cpz-56002-12376@f35c81ff26f9']}]}
  ]
 }].
