[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-53218-12376@f35c81ff26f9','global_group_SUITE-no_gg_proc_sync-53250-12376@f35c81ff26f9','global_group_SUITE-no_gg_proc_sync-53282-12376@f35c81ff26f9',  'global_group_SUITE-no_gg_proc_sync-53314-12376@f35c81ff26f9','global_group_SUITE-no_gg_proc_sync-53346-12376@f35c81ff26f9','global_group_SUITE-no_gg_proc_sync-53378-12376@f35c81ff26f9']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
