[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-9603-12309@86c2e17a05f9','global_group_SUITE-compatible-9635-12309@86c2e17a05f9','global_group_SUITE-compatible-9667-12309@86c2e17a05f9',  'global_group_SUITE-compatible-9699-12309@86c2e17a05f9','global_group_SUITE-compatible-9731-12309@86c2e17a05f9','global_group_SUITE-compatible-9763-12309@86c2e17a05f9']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
