[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-54722-12145@3e4adf6e1b9c','global_group_SUITE-two_grp-54754-12145@3e4adf6e1b9c','global_group_SUITE-two_grp-54786-12145@3e4adf6e1b9c',  'global_group_SUITE-two_grp-54818-12145@3e4adf6e1b9c','global_group_SUITE-two_grp-54850-12145@3e4adf6e1b9c','global_group_SUITE-two_grp-54882-12145@3e4adf6e1b9c']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-54722-12145@3e4adf6e1b9c','global_group_SUITE-two_grp-54754-12145@3e4adf6e1b9c','global_group_SUITE-two_grp-54786-12145@3e4adf6e1b9c']},  {nc2, ['global_group_SUITE-two_grp-54818-12145@3e4adf6e1b9c','global_group_SUITE-two_grp-54850-12145@3e4adf6e1b9c','global_group_SUITE-two_grp-54882-12145@3e4adf6e1b9c']}, {nc3, ['global_group_SUITE-two_grp-54914-12145@3e4adf6e1b9c']}]} ] }]. 
