[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-53666-12145@3e4adf6e1b9c','global_group_SUITE-compatible-53698-12145@3e4adf6e1b9c','global_group_SUITE-compatible-53730-12145@3e4adf6e1b9c',  'global_group_SUITE-compatible-53762-12145@3e4adf6e1b9c','global_group_SUITE-compatible-53794-12145@3e4adf6e1b9c','global_group_SUITE-compatible-53826-12145@3e4adf6e1b9c']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
