[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-55394-12145@3e4adf6e1b9c','global_group_SUITE-hidden_groups-55426-12145@3e4adf6e1b9c','global_group_SUITE-hidden_groups-55458-12145@3e4adf6e1b9c',  'global_group_SUITE-hidden_groups-55490-12145@3e4adf6e1b9c','global_group_SUITE-hidden_groups-55522-12145@3e4adf6e1b9c','global_group_SUITE-hidden_groups-55554-12145@3e4adf6e1b9c']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-55394-12145@3e4adf6e1b9c','global_group_SUITE-hidden_groups-55426-12145@3e4adf6e1b9c','global_group_SUITE-hidden_groups-55458-12145@3e4adf6e1b9c']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-55490-12145@3e4adf6e1b9c','global_group_SUITE-hidden_groups-55522-12145@3e4adf6e1b9c','global_group_SUITE-hidden_groups-55554-12145@3e4adf6e1b9c']}, {nc3, normal, ['global_group_SUITE-hidden_groups-55586-12145@3e4adf6e1b9c']}]} ] }]. 
