[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-55874-12145@3e4adf6e1b9c','global_group_SUITE-global_disconnect-cp2-55906-12145@3e4adf6e1b9c','global_group_SUITE-global_disconnect-cp3-55938-12145@3e4adf6e1b9c']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-55874-12145@3e4adf6e1b9c','global_group_SUITE-global_disconnect-cp2-55906-12145@3e4adf6e1b9c','global_group_SUITE-global_disconnect-cp3-55938-12145@3e4adf6e1b9c']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-55970-12145@3e4adf6e1b9c','global_group_SUITE-global_disconnect-cpy-56002-12145@3e4adf6e1b9c','global_group_SUITE-global_disconnect-cpz-56034-12145@3e4adf6e1b9c']}]}
  ]
 }].
