[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-53186-12145@3e4adf6e1b9c','global_group_SUITE-no_gg_proc_sync-53218-12145@3e4adf6e1b9c','global_group_SUITE-no_gg_proc_sync-53250-12145@3e4adf6e1b9c',  'global_group_SUITE-no_gg_proc_sync-53282-12145@3e4adf6e1b9c','global_group_SUITE-no_gg_proc_sync-53314-12145@3e4adf6e1b9c','global_group_SUITE-no_gg_proc_sync-53346-12145@3e4adf6e1b9c']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
