[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3234@3e4adf6e1b9c,
                                cp2_otp_4066__3266@3e4adf6e1b9c]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3234@3e4adf6e1b9c,
                               cp2_otp_4066__3266@3e4adf6e1b9c]}]}]}].
