[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_08_27__11_17_24@39e124b09b37','cp2_global_groups_change__2024_08_27__11_17_24@39e124b09b37','cp3_global_groups_change__2024_08_27__11_17_24@39e124b09b37']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_08_27__11_17_24@39e124b09b37,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_08_27__11_17_24@39e124b09b37,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_08_27__11_17_24@39e124b09b37]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_08_27__11_17_24@39e124b09b37]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_08_27__11_17_24@39e124b09b37]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_08_27__11_17_24@39e124b09b37,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_08_27__11_17_24@39e124b09b37]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_08_27__11_17_24@39e124b09b37,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_08_27__11_17_24@39e124b09b37,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_08_27__11_17_24@39e124b09b37]}]}]}].
