[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-49634-12208@25da59a2f5d1','global_group_SUITE-compatible-49666-12208@25da59a2f5d1','global_group_SUITE-compatible-49698-12208@25da59a2f5d1',  'global_group_SUITE-compatible-49730-12208@25da59a2f5d1','global_group_SUITE-compatible-49762-12208@25da59a2f5d1','global_group_SUITE-compatible-49794-12208@25da59a2f5d1']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
