[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-51682-12208@25da59a2f5d1','global_group_SUITE-global_disconnect-cp2-51714-12208@25da59a2f5d1','global_group_SUITE-global_disconnect-cp3-51746-12208@25da59a2f5d1']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-51682-12208@25da59a2f5d1','global_group_SUITE-global_disconnect-cp2-51714-12208@25da59a2f5d1','global_group_SUITE-global_disconnect-cp3-51746-12208@25da59a2f5d1']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-51778-12208@25da59a2f5d1','global_group_SUITE-global_disconnect-cpy-51810-12208@25da59a2f5d1','global_group_SUITE-global_disconnect-cpz-51842-12208@25da59a2f5d1']}]}
  ]
 }].
