[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-49186-12208@25da59a2f5d1','global_group_SUITE-no_gg_proc_sync-49218-12208@25da59a2f5d1','global_group_SUITE-no_gg_proc_sync-49250-12208@25da59a2f5d1',  'global_group_SUITE-no_gg_proc_sync-49282-12208@25da59a2f5d1','global_group_SUITE-no_gg_proc_sync-49314-12208@25da59a2f5d1','global_group_SUITE-no_gg_proc_sync-49346-12208@25da59a2f5d1']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
