[{kernel,[{sync_nodes_optional,[cp1_otp_4066__1922@25da59a2f5d1,
                                cp2_otp_4066__1954@25da59a2f5d1]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__1922@25da59a2f5d1,
                               cp2_otp_4066__1954@25da59a2f5d1]}]}]}].
