[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-52130-12376@88bdb15de0cc','global_group_SUITE-no_gg_proc_sync-52162-12376@88bdb15de0cc','global_group_SUITE-no_gg_proc_sync-52194-12376@88bdb15de0cc',  'global_group_SUITE-no_gg_proc_sync-52226-12376@88bdb15de0cc','global_group_SUITE-no_gg_proc_sync-52258-12376@88bdb15de0cc','global_group_SUITE-no_gg_proc_sync-52290-12376@88bdb15de0cc']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
