[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-9091-12263@e414c1dca54f','global_group_SUITE-two_grp-9123-12263@e414c1dca54f','global_group_SUITE-two_grp-9155-12263@e414c1dca54f',  'global_group_SUITE-two_grp-9187-12263@e414c1dca54f','global_group_SUITE-two_grp-9219-12263@e414c1dca54f','global_group_SUITE-two_grp-9251-12263@e414c1dca54f']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-9091-12263@e414c1dca54f','global_group_SUITE-two_grp-9123-12263@e414c1dca54f','global_group_SUITE-two_grp-9155-12263@e414c1dca54f']},  {nc2, ['global_group_SUITE-two_grp-9187-12263@e414c1dca54f','global_group_SUITE-two_grp-9219-12263@e414c1dca54f','global_group_SUITE-two_grp-9251-12263@e414c1dca54f']}, {nc3, ['global_group_SUITE-two_grp-9283-12263@e414c1dca54f']}]} ] }]. 
