[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-9411-12263@e414c1dca54f','global_group_SUITE-hidden_groups-9443-12263@e414c1dca54f','global_group_SUITE-hidden_groups-9475-12263@e414c1dca54f',  'global_group_SUITE-hidden_groups-9507-12263@e414c1dca54f','global_group_SUITE-hidden_groups-9539-12263@e414c1dca54f','global_group_SUITE-hidden_groups-9571-12263@e414c1dca54f']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-9411-12263@e414c1dca54f','global_group_SUITE-hidden_groups-9443-12263@e414c1dca54f','global_group_SUITE-hidden_groups-9475-12263@e414c1dca54f']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-9507-12263@e414c1dca54f','global_group_SUITE-hidden_groups-9539-12263@e414c1dca54f','global_group_SUITE-hidden_groups-9571-12263@e414c1dca54f']}, {nc3, normal, ['global_group_SUITE-hidden_groups-9603-12263@e414c1dca54f']}]} ] }]. 
