[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-9667-12263@e414c1dca54f','global_group_SUITE-global_disconnect-cp2-9699-12263@e414c1dca54f','global_group_SUITE-global_disconnect-cp3-9731-12263@e414c1dca54f']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-9667-12263@e414c1dca54f','global_group_SUITE-global_disconnect-cp2-9699-12263@e414c1dca54f','global_group_SUITE-global_disconnect-cp3-9731-12263@e414c1dca54f']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-9763-12263@e414c1dca54f','global_group_SUITE-global_disconnect-cpy-9795-12263@e414c1dca54f','global_group_SUITE-global_disconnect-cpz-9827-12263@e414c1dca54f']}]}
  ]
 }].
