[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-8419-12263@e414c1dca54f','global_group_SUITE-no_gg_proc_sync-8451-12263@e414c1dca54f','global_group_SUITE-no_gg_proc_sync-8483-12263@e414c1dca54f',  'global_group_SUITE-no_gg_proc_sync-8515-12263@e414c1dca54f','global_group_SUITE-no_gg_proc_sync-8547-12263@e414c1dca54f','global_group_SUITE-no_gg_proc_sync-8579-12263@e414c1dca54f']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
