[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_04_19__17_36_13@e414c1dca54f','cp2_global_groups_change__2024_04_19__17_36_13@e414c1dca54f','cp3_global_groups_change__2024_04_19__17_36_13@e414c1dca54f']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_04_19__17_36_13@e414c1dca54f,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_04_19__17_36_13@e414c1dca54f,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_04_19__17_36_13@e414c1dca54f]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_04_19__17_36_13@e414c1dca54f]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_04_19__17_36_13@e414c1dca54f]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_04_19__17_36_13@e414c1dca54f,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_04_19__17_36_13@e414c1dca54f]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_04_19__17_36_13@e414c1dca54f,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_04_19__17_36_13@e414c1dca54f,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_04_19__17_36_13@e414c1dca54f]}]}]}].
