[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-2084-12212@500efb8d626e','global_group_SUITE-compatible-2116-12212@500efb8d626e','global_group_SUITE-compatible-2148-12212@500efb8d626e',  'global_group_SUITE-compatible-2180-12212@500efb8d626e','global_group_SUITE-compatible-2212-12212@500efb8d626e','global_group_SUITE-compatible-2244-12212@500efb8d626e']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
