[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-48642-12212@500efb8d626e','global_group_SUITE-global_disconnect-cp2-48674-12212@500efb8d626e','global_group_SUITE-global_disconnect-cp3-48706-12212@500efb8d626e']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-48642-12212@500efb8d626e','global_group_SUITE-global_disconnect-cp2-48674-12212@500efb8d626e','global_group_SUITE-global_disconnect-cp3-48706-12212@500efb8d626e']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-48738-12212@500efb8d626e','global_group_SUITE-global_disconnect-cpy-48770-12212@500efb8d626e','global_group_SUITE-global_disconnect-cpz-48802-12212@500efb8d626e']}]}
  ]
 }].
