[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-46402-12212@500efb8d626e','global_group_SUITE-no_gg_proc_sync-46434-12212@500efb8d626e','global_group_SUITE-no_gg_proc_sync-46466-12212@500efb8d626e',  'global_group_SUITE-no_gg_proc_sync-46498-12212@500efb8d626e','global_group_SUITE-no_gg_proc_sync-46530-12212@500efb8d626e','global_group_SUITE-no_gg_proc_sync-46562-12212@500efb8d626e']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
