[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-50402-12207@a60b1ae65ef3','global_group_SUITE-compatible-50434-12207@a60b1ae65ef3','global_group_SUITE-compatible-50466-12207@a60b1ae65ef3',  'global_group_SUITE-compatible-50498-12207@a60b1ae65ef3','global_group_SUITE-compatible-50530-12207@a60b1ae65ef3','global_group_SUITE-compatible-50562-12207@a60b1ae65ef3']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
