[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-52578-12207@a60b1ae65ef3','global_group_SUITE-global_disconnect-cp2-52610-12207@a60b1ae65ef3','global_group_SUITE-global_disconnect-cp3-52642-12207@a60b1ae65ef3']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-52578-12207@a60b1ae65ef3','global_group_SUITE-global_disconnect-cp2-52610-12207@a60b1ae65ef3','global_group_SUITE-global_disconnect-cp3-52642-12207@a60b1ae65ef3']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-52674-12207@a60b1ae65ef3','global_group_SUITE-global_disconnect-cpy-52706-12207@a60b1ae65ef3','global_group_SUITE-global_disconnect-cpz-52738-12207@a60b1ae65ef3']}]}
  ]
 }].
