[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-49922-12207@a60b1ae65ef3','global_group_SUITE-no_gg_proc_sync-49954-12207@a60b1ae65ef3','global_group_SUITE-no_gg_proc_sync-49986-12207@a60b1ae65ef3',  'global_group_SUITE-no_gg_proc_sync-50018-12207@a60b1ae65ef3','global_group_SUITE-no_gg_proc_sync-50050-12207@a60b1ae65ef3','global_group_SUITE-no_gg_proc_sync-50082-12207@a60b1ae65ef3']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
