[{kernel,[{sync_nodes_optional,[cp1_otp_4066__163@a60b1ae65ef3,
                                cp2_otp_4066__195@a60b1ae65ef3]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__163@a60b1ae65ef3,
                               cp2_otp_4066__195@a60b1ae65ef3]}]}]}].
