[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3','cp2_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3','cp3_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_03_01__15_21_43@a60b1ae65ef3]}]}]}].
