[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-47234-12212@f9de312ac1d5','global_group_SUITE-compatible-47266-12212@f9de312ac1d5','global_group_SUITE-compatible-47298-12212@f9de312ac1d5',  'global_group_SUITE-compatible-47330-12212@f9de312ac1d5','global_group_SUITE-compatible-47362-12212@f9de312ac1d5','global_group_SUITE-compatible-47394-12212@f9de312ac1d5']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
