[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_09_24__12_13_51@764145272c5d','cp2_global_groups_change__2024_09_24__12_13_51@764145272c5d','cp3_global_groups_change__2024_09_24__12_13_51@764145272c5d']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_09_24__12_13_51@764145272c5d,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_09_24__12_13_51@764145272c5d,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_09_24__12_13_51@764145272c5d]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_09_24__12_13_51@764145272c5d]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_09_24__12_13_51@764145272c5d]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_09_24__12_13_51@764145272c5d,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_09_24__12_13_51@764145272c5d]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_09_24__12_13_51@764145272c5d,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_09_24__12_13_51@764145272c5d,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_09_24__12_13_51@764145272c5d]}]}]}].
