[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-6435-12195@57ad50127a53','global_group_SUITE-global_disconnect-cpy-6467-12195@57ad50127a53','global_group_SUITE-global_disconnect-cpz-6499-12195@57ad50127a53']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-6339-12195@57ad50127a53','global_group_SUITE-global_disconnect-cp2-6371-12195@57ad50127a53','global_group_SUITE-global_disconnect-cp3-6403-12195@57ad50127a53']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-6435-12195@57ad50127a53','global_group_SUITE-global_disconnect-cpy-6467-12195@57ad50127a53','global_group_SUITE-global_disconnect-cpz-6499-12195@57ad50127a53']}]}
  ]
 }].
