[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-45122-12228@4583cecce87a','global_group_SUITE-compatible-45154-12228@4583cecce87a','global_group_SUITE-compatible-45186-12228@4583cecce87a',  'global_group_SUITE-compatible-45218-12228@4583cecce87a','global_group_SUITE-compatible-45250-12228@4583cecce87a','global_group_SUITE-compatible-45282-12228@4583cecce87a']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
