[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-12995-12228@4583cecce87a','global_group_SUITE-hidden_groups-13027-12228@4583cecce87a','global_group_SUITE-hidden_groups-13059-12228@4583cecce87a',  'global_group_SUITE-hidden_groups-13091-12228@4583cecce87a','global_group_SUITE-hidden_groups-13123-12228@4583cecce87a','global_group_SUITE-hidden_groups-13155-12228@4583cecce87a']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-12995-12228@4583cecce87a','global_group_SUITE-hidden_groups-13027-12228@4583cecce87a','global_group_SUITE-hidden_groups-13059-12228@4583cecce87a']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-13091-12228@4583cecce87a','global_group_SUITE-hidden_groups-13123-12228@4583cecce87a','global_group_SUITE-hidden_groups-13155-12228@4583cecce87a']}, {nc3, normal, ['global_group_SUITE-hidden_groups-13187-12228@4583cecce87a']}]} ] }]. 
