[{kernel,[{sync_nodes_optional,[cp1_otp_4066__1954@4583cecce87a,
                                cp2_otp_4066__1986@4583cecce87a]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__1954@4583cecce87a,
                               cp2_otp_4066__1986@4583cecce87a]}]}]}].
