[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-53794-12408@6d31b04faa82','global_group_SUITE-compatible-53826-12408@6d31b04faa82','global_group_SUITE-compatible-53858-12408@6d31b04faa82',  'global_group_SUITE-compatible-53890-12408@6d31b04faa82','global_group_SUITE-compatible-53922-12408@6d31b04faa82','global_group_SUITE-compatible-53954-12408@6d31b04faa82']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
