[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-55746-12408@6d31b04faa82','global_group_SUITE-global_disconnect-cpy-55778-12408@6d31b04faa82','global_group_SUITE-global_disconnect-cpz-55810-12408@6d31b04faa82']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-55650-12408@6d31b04faa82','global_group_SUITE-global_disconnect-cp2-55682-12408@6d31b04faa82','global_group_SUITE-global_disconnect-cp3-55714-12408@6d31b04faa82']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-55746-12408@6d31b04faa82','global_group_SUITE-global_disconnect-cpy-55778-12408@6d31b04faa82','global_group_SUITE-global_disconnect-cpz-55810-12408@6d31b04faa82']}]}
  ]
 }].
