[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-53314-12408@6d31b04faa82','global_group_SUITE-no_gg_proc_sync-53346-12408@6d31b04faa82','global_group_SUITE-no_gg_proc_sync-53378-12408@6d31b04faa82',  'global_group_SUITE-no_gg_proc_sync-53410-12408@6d31b04faa82','global_group_SUITE-no_gg_proc_sync-53442-12408@6d31b04faa82','global_group_SUITE-no_gg_proc_sync-53474-12408@6d31b04faa82']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
