[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-50914-12217@c23a79a0133d','global_group_SUITE-global_disconnect-cp2-50946-12217@c23a79a0133d','global_group_SUITE-global_disconnect-cp3-50978-12217@c23a79a0133d']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-50914-12217@c23a79a0133d','global_group_SUITE-global_disconnect-cp2-50946-12217@c23a79a0133d','global_group_SUITE-global_disconnect-cp3-50978-12217@c23a79a0133d']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-51010-12217@c23a79a0133d','global_group_SUITE-global_disconnect-cpy-51042-12217@c23a79a0133d','global_group_SUITE-global_disconnect-cpz-51074-12217@c23a79a0133d']}]}
  ]
 }].
