[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-9283-12212@373418a449d8','global_group_SUITE-global_disconnect-cp2-9315-12212@373418a449d8','global_group_SUITE-global_disconnect-cp3-9347-12212@373418a449d8']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-9283-12212@373418a449d8','global_group_SUITE-global_disconnect-cp2-9315-12212@373418a449d8','global_group_SUITE-global_disconnect-cp3-9347-12212@373418a449d8']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-9379-12212@373418a449d8','global_group_SUITE-global_disconnect-cpy-9411-12212@373418a449d8','global_group_SUITE-global_disconnect-cpz-9443-12212@373418a449d8']}]}
  ]
 }].
