[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-53634-12212@f34f75bb5858','global_group_SUITE-no_gg_proc_sync-53666-12212@f34f75bb5858','global_group_SUITE-no_gg_proc_sync-53698-12212@f34f75bb5858',  'global_group_SUITE-no_gg_proc_sync-53730-12212@f34f75bb5858','global_group_SUITE-no_gg_proc_sync-53762-12212@f34f75bb5858','global_group_SUITE-no_gg_proc_sync-53794-12212@f34f75bb5858']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
