[{kernel,[{logger,[{handler,default,logger_std_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@f34f75bb5858.2024-09-19_14.53.31/make_test_dir.kernel_test.logs/run.2024-09-19_14.54.00/log_private/file.log"}}}]}]}].