[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-44482-12217@cbc83e116bfa','global_group_SUITE-hidden_groups-44514-12217@cbc83e116bfa','global_group_SUITE-hidden_groups-44546-12217@cbc83e116bfa',  'global_group_SUITE-hidden_groups-44578-12217@cbc83e116bfa','global_group_SUITE-hidden_groups-44610-12217@cbc83e116bfa','global_group_SUITE-hidden_groups-44642-12217@cbc83e116bfa']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-44482-12217@cbc83e116bfa','global_group_SUITE-hidden_groups-44514-12217@cbc83e116bfa','global_group_SUITE-hidden_groups-44546-12217@cbc83e116bfa']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-44578-12217@cbc83e116bfa','global_group_SUITE-hidden_groups-44610-12217@cbc83e116bfa','global_group_SUITE-hidden_groups-44642-12217@cbc83e116bfa']}, {nc3, normal, ['global_group_SUITE-hidden_groups-44674-12217@cbc83e116bfa']}]} ] }]. 
