[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-45058-12217@cbc83e116bfa','global_group_SUITE-global_disconnect-cpy-45090-12217@cbc83e116bfa','global_group_SUITE-global_disconnect-cpz-45122-12217@cbc83e116bfa']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-44962-12217@cbc83e116bfa','global_group_SUITE-global_disconnect-cp2-44994-12217@cbc83e116bfa','global_group_SUITE-global_disconnect-cp3-45026-12217@cbc83e116bfa']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-45058-12217@cbc83e116bfa','global_group_SUITE-global_disconnect-cpy-45090-12217@cbc83e116bfa','global_group_SUITE-global_disconnect-cpz-45122-12217@cbc83e116bfa']}]}
  ]
 }].
