[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-43170-12217@cbc83e116bfa','global_group_SUITE-no_gg_proc_sync-43202-12217@cbc83e116bfa','global_group_SUITE-no_gg_proc_sync-43234-12217@cbc83e116bfa',  'global_group_SUITE-no_gg_proc_sync-43266-12217@cbc83e116bfa','global_group_SUITE-no_gg_proc_sync-43298-12217@cbc83e116bfa','global_group_SUITE-no_gg_proc_sync-43330-12217@cbc83e116bfa']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
