[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_09__13_39_49@701914401c13','cp2_global_groups_change__2025_01_09__13_39_49@701914401c13','cp3_global_groups_change__2025_01_09__13_39_49@701914401c13']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_09__13_39_49@701914401c13,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_09__13_39_49@701914401c13,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_09__13_39_49@701914401c13]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_09__13_39_49@701914401c13]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_09__13_39_49@701914401c13]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_09__13_39_49@701914401c13,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_09__13_39_49@701914401c13]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_09__13_39_49@701914401c13,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_09__13_39_49@701914401c13,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_09__13_39_49@701914401c13]}]}]}].
