[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-50178-18351@fc849dc8b7ae','global_group_SUITE-two_grp-50210-18351@fc849dc8b7ae','global_group_SUITE-two_grp-50242-18351@fc849dc8b7ae',  'global_group_SUITE-two_grp-50274-18351@fc849dc8b7ae','global_group_SUITE-two_grp-50306-18351@fc849dc8b7ae','global_group_SUITE-two_grp-50338-18351@fc849dc8b7ae']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-50178-18351@fc849dc8b7ae','global_group_SUITE-two_grp-50210-18351@fc849dc8b7ae','global_group_SUITE-two_grp-50242-18351@fc849dc8b7ae']},  {nc2, ['global_group_SUITE-two_grp-50274-18351@fc849dc8b7ae','global_group_SUITE-two_grp-50306-18351@fc849dc8b7ae','global_group_SUITE-two_grp-50338-18351@fc849dc8b7ae']}, {nc3, ['global_group_SUITE-two_grp-50370-18351@fc849dc8b7ae']}]} ] }]. 
