[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-49122-18351@fc849dc8b7ae','global_group_SUITE-compatible-49154-18351@fc849dc8b7ae','global_group_SUITE-compatible-49186-18351@fc849dc8b7ae',  'global_group_SUITE-compatible-49218-18351@fc849dc8b7ae','global_group_SUITE-compatible-49250-18351@fc849dc8b7ae','global_group_SUITE-compatible-49282-18351@fc849dc8b7ae']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
