[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae','cp2_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae','cp3_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2023_12_05__12_19_12@fc849dc8b7ae]}]}]}].
