[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-53154-12377@db7dc6ea0831','global_group_SUITE-compatible-53186-12377@db7dc6ea0831','global_group_SUITE-compatible-53218-12377@db7dc6ea0831',  'global_group_SUITE-compatible-53250-12377@db7dc6ea0831','global_group_SUITE-compatible-53282-12377@db7dc6ea0831','global_group_SUITE-compatible-53314-12377@db7dc6ea0831']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
