[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-54722-12377@db7dc6ea0831','global_group_SUITE-hidden_groups-54754-12377@db7dc6ea0831','global_group_SUITE-hidden_groups-54786-12377@db7dc6ea0831',  'global_group_SUITE-hidden_groups-54818-12377@db7dc6ea0831','global_group_SUITE-hidden_groups-54850-12377@db7dc6ea0831','global_group_SUITE-hidden_groups-54882-12377@db7dc6ea0831']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-54722-12377@db7dc6ea0831','global_group_SUITE-hidden_groups-54754-12377@db7dc6ea0831','global_group_SUITE-hidden_groups-54786-12377@db7dc6ea0831']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-54818-12377@db7dc6ea0831','global_group_SUITE-hidden_groups-54850-12377@db7dc6ea0831','global_group_SUITE-hidden_groups-54882-12377@db7dc6ea0831']}, {nc3, normal, ['global_group_SUITE-hidden_groups-54914-12377@db7dc6ea0831']}]} ] }]. 
