[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-55298-12377@db7dc6ea0831','global_group_SUITE-global_disconnect-cpy-55330-12377@db7dc6ea0831','global_group_SUITE-global_disconnect-cpz-55362-12377@db7dc6ea0831']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-55202-12377@db7dc6ea0831','global_group_SUITE-global_disconnect-cp2-55234-12377@db7dc6ea0831','global_group_SUITE-global_disconnect-cp3-55266-12377@db7dc6ea0831']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-55298-12377@db7dc6ea0831','global_group_SUITE-global_disconnect-cpy-55330-12377@db7dc6ea0831','global_group_SUITE-global_disconnect-cpz-55362-12377@db7dc6ea0831']}]}
  ]
 }].
