[{kernel,[{sync_nodes_optional,[cp1_otp_4066__2018@db7dc6ea0831,
                                cp2_otp_4066__2050@db7dc6ea0831]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__2018@db7dc6ea0831,
                               cp2_otp_4066__2050@db7dc6ea0831]}]}]}].
