[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831','cp2_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831','cp3_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_22__15_27_54@db7dc6ea0831]}]}]}].
