[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-9155-12212@2afa136df3c0','global_group_SUITE-two_grp-9187-12212@2afa136df3c0','global_group_SUITE-two_grp-9219-12212@2afa136df3c0',  'global_group_SUITE-two_grp-9251-12212@2afa136df3c0','global_group_SUITE-two_grp-9283-12212@2afa136df3c0','global_group_SUITE-two_grp-9315-12212@2afa136df3c0']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-9155-12212@2afa136df3c0','global_group_SUITE-two_grp-9187-12212@2afa136df3c0','global_group_SUITE-two_grp-9219-12212@2afa136df3c0']},  {nc2, ['global_group_SUITE-two_grp-9251-12212@2afa136df3c0','global_group_SUITE-two_grp-9283-12212@2afa136df3c0','global_group_SUITE-two_grp-9315-12212@2afa136df3c0']}, {nc3, ['global_group_SUITE-two_grp-9347-12212@2afa136df3c0']}]} ] }]. 
