[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-9507-12212@2afa136df3c0','global_group_SUITE-hidden_groups-9539-12212@2afa136df3c0','global_group_SUITE-hidden_groups-9571-12212@2afa136df3c0',  'global_group_SUITE-hidden_groups-9603-12212@2afa136df3c0','global_group_SUITE-hidden_groups-9635-12212@2afa136df3c0','global_group_SUITE-hidden_groups-9667-12212@2afa136df3c0']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-9507-12212@2afa136df3c0','global_group_SUITE-hidden_groups-9539-12212@2afa136df3c0','global_group_SUITE-hidden_groups-9571-12212@2afa136df3c0']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-9603-12212@2afa136df3c0','global_group_SUITE-hidden_groups-9635-12212@2afa136df3c0','global_group_SUITE-hidden_groups-9667-12212@2afa136df3c0']}, {nc3, normal, ['global_group_SUITE-hidden_groups-9699-12212@2afa136df3c0']}]} ] }]. 
