[{kernel,[{logger,[{handler,default,logger_disk_log_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@2afa136df3c0.2024-09-27_16.31.34/make_test_dir.kernel_test.logs/run.2024-09-27_16.32.03/log_private/logger_std_h_SUITE_crash_std_h_to_disk_log.log"}}}]}]}].