[{kernel,[{sync_nodes_optional,[cp1_otp_4066__2050@2afa136df3c0,
                                cp2_otp_4066__2082@2afa136df3c0]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__2050@2afa136df3c0,
                               cp2_otp_4066__2082@2afa136df3c0]}]}]}].
