# Purpose: Configuration for requests (end users and CAs).
ROOTDIR	        = /buildroot/otp/lib/ssl/make_test_dir/ct_logs/ct_run.test_server@cb3464bbf82b.2024-03-06_17.36.48/make_test_dir.ssl_test.logs/run.2024-03-06_17.37.07/log_private/crl_hash_dir

[req]
input_password	= secret
output_password	= secret
default_bits	= 2048
RANDFILE		= $ROOTDIR/RAND
encrypt_key	= no
default_md	= sha256
#string_mask	= pkix
x509_extensions	= ca_ext
prompt		= no
distinguished_name= name

[name]
commonName		= client
organizationalUnitName	= Erlang OTP
organizationName	        = Ericsson AB
localityName		= Stockholm
countryName		= SE
emailAddress		= peter@erix.ericsson.se

[ca_ext]
basicConstraints 	= critical, CA:true
keyUsage 		= cRLSign, keyCertSign
subjectKeyIdentifier = hash
subjectAltName	= email:copy
