[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-52066-12212@8a86e4a65ee4','global_group_SUITE-compatible-52098-12212@8a86e4a65ee4','global_group_SUITE-compatible-52130-12212@8a86e4a65ee4',  'global_group_SUITE-compatible-52162-12212@8a86e4a65ee4','global_group_SUITE-compatible-52194-12212@8a86e4a65ee4','global_group_SUITE-compatible-52226-12212@8a86e4a65ee4']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
