[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-53762-12212@8a86e4a65ee4','global_group_SUITE-hidden_groups-53794-12212@8a86e4a65ee4','global_group_SUITE-hidden_groups-53826-12212@8a86e4a65ee4',  'global_group_SUITE-hidden_groups-53858-12212@8a86e4a65ee4','global_group_SUITE-hidden_groups-53890-12212@8a86e4a65ee4','global_group_SUITE-hidden_groups-53922-12212@8a86e4a65ee4']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-53762-12212@8a86e4a65ee4','global_group_SUITE-hidden_groups-53794-12212@8a86e4a65ee4','global_group_SUITE-hidden_groups-53826-12212@8a86e4a65ee4']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-53858-12212@8a86e4a65ee4','global_group_SUITE-hidden_groups-53890-12212@8a86e4a65ee4','global_group_SUITE-hidden_groups-53922-12212@8a86e4a65ee4']}, {nc3, normal, ['global_group_SUITE-hidden_groups-53954-12212@8a86e4a65ee4']}]} ] }]. 
