[{kernel,[{logger,[{handler,default,logger_std_h,
                       #{config =>
                             #{type =>
                                   {file,
                                       "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@8a86e4a65ee4.2024-09-24_11.54.25/make_test_dir.kernel_test.logs/run.2024-09-24_11.54.54/log_private/logger_std_h_SUITE_crash_std_h_to_file.log"}}}}]}]}].