[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-54242-12212@8a86e4a65ee4','global_group_SUITE-global_disconnect-cp2-54274-12212@8a86e4a65ee4','global_group_SUITE-global_disconnect-cp3-54306-12212@8a86e4a65ee4']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-54242-12212@8a86e4a65ee4','global_group_SUITE-global_disconnect-cp2-54274-12212@8a86e4a65ee4','global_group_SUITE-global_disconnect-cp3-54306-12212@8a86e4a65ee4']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-54338-12212@8a86e4a65ee4','global_group_SUITE-global_disconnect-cpy-54370-12212@8a86e4a65ee4','global_group_SUITE-global_disconnect-cpz-54402-12212@8a86e4a65ee4']}]}
  ]
 }].
