[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-21795-12146@7f25e8bc7491','global_group_SUITE-global_disconnect-cp2-21827-12146@7f25e8bc7491','global_group_SUITE-global_disconnect-cp3-21859-12146@7f25e8bc7491']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-21795-12146@7f25e8bc7491','global_group_SUITE-global_disconnect-cp2-21827-12146@7f25e8bc7491','global_group_SUITE-global_disconnect-cp3-21859-12146@7f25e8bc7491']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-21891-12146@7f25e8bc7491','global_group_SUITE-global_disconnect-cpy-21923-12146@7f25e8bc7491','global_group_SUITE-global_disconnect-cpz-21955-12146@7f25e8bc7491']}]}
  ]
 }].
