[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-20643-12146@7f25e8bc7491','global_group_SUITE-no_gg_proc_sync-20675-12146@7f25e8bc7491','global_group_SUITE-no_gg_proc_sync-20707-12146@7f25e8bc7491',  'global_group_SUITE-no_gg_proc_sync-20739-12146@7f25e8bc7491','global_group_SUITE-no_gg_proc_sync-20771-12146@7f25e8bc7491','global_group_SUITE-no_gg_proc_sync-20803-12146@7f25e8bc7491']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
