[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-52834-12207@f10b0a84fe1a','global_group_SUITE-hidden_groups-52866-12207@f10b0a84fe1a','global_group_SUITE-hidden_groups-52898-12207@f10b0a84fe1a',  'global_group_SUITE-hidden_groups-52930-12207@f10b0a84fe1a','global_group_SUITE-hidden_groups-52962-12207@f10b0a84fe1a','global_group_SUITE-hidden_groups-52994-12207@f10b0a84fe1a']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-52834-12207@f10b0a84fe1a','global_group_SUITE-hidden_groups-52866-12207@f10b0a84fe1a','global_group_SUITE-hidden_groups-52898-12207@f10b0a84fe1a']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-52930-12207@f10b0a84fe1a','global_group_SUITE-hidden_groups-52962-12207@f10b0a84fe1a','global_group_SUITE-hidden_groups-52994-12207@f10b0a84fe1a']}, {nc3, normal, ['global_group_SUITE-hidden_groups-53026-12207@f10b0a84fe1a']}]} ] }]. 
