[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-53314-12207@f10b0a84fe1a','global_group_SUITE-global_disconnect-cp2-53346-12207@f10b0a84fe1a','global_group_SUITE-global_disconnect-cp3-53378-12207@f10b0a84fe1a']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-53314-12207@f10b0a84fe1a','global_group_SUITE-global_disconnect-cp2-53346-12207@f10b0a84fe1a','global_group_SUITE-global_disconnect-cp3-53378-12207@f10b0a84fe1a']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-53410-12207@f10b0a84fe1a','global_group_SUITE-global_disconnect-cpy-53442-12207@f10b0a84fe1a','global_group_SUITE-global_disconnect-cpz-53474-12207@f10b0a84fe1a']}]}
  ]
 }].
