[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-50690-12207@f10b0a84fe1a','global_group_SUITE-no_gg_proc_sync-50722-12207@f10b0a84fe1a','global_group_SUITE-no_gg_proc_sync-50754-12207@f10b0a84fe1a',  'global_group_SUITE-no_gg_proc_sync-50786-12207@f10b0a84fe1a','global_group_SUITE-no_gg_proc_sync-50818-12207@f10b0a84fe1a','global_group_SUITE-no_gg_proc_sync-50850-12207@f10b0a84fe1a']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
