[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3266@f10b0a84fe1a,
                                cp2_otp_4066__3298@f10b0a84fe1a]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3266@f10b0a84fe1a,
                               cp2_otp_4066__3298@f10b0a84fe1a]}]}]}].
