[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a','cp2_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a','cp3_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_03_01__22_12_26@f10b0a84fe1a]}]}]}].
