[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-48962-12309@2a8c5a9108c5','global_group_SUITE-no_gg_proc_sync-48994-12309@2a8c5a9108c5','global_group_SUITE-no_gg_proc_sync-49026-12309@2a8c5a9108c5',  'global_group_SUITE-no_gg_proc_sync-49058-12309@2a8c5a9108c5','global_group_SUITE-no_gg_proc_sync-49090-12309@2a8c5a9108c5','global_group_SUITE-no_gg_proc_sync-49122-12309@2a8c5a9108c5']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
