[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-50338-12229@df72d5537351','global_group_SUITE-global_disconnect-cpy-50370-12229@df72d5537351','global_group_SUITE-global_disconnect-cpz-50402-12229@df72d5537351']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-50242-12229@df72d5537351','global_group_SUITE-global_disconnect-cp2-50274-12229@df72d5537351','global_group_SUITE-global_disconnect-cp3-50306-12229@df72d5537351']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-50338-12229@df72d5537351','global_group_SUITE-global_disconnect-cpy-50370-12229@df72d5537351','global_group_SUITE-global_disconnect-cpz-50402-12229@df72d5537351']}]}
  ]
 }].
