[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-7171-12229@df72d5537351','global_group_SUITE-no_gg_proc_sync-7203-12229@df72d5537351','global_group_SUITE-no_gg_proc_sync-7235-12229@df72d5537351',  'global_group_SUITE-no_gg_proc_sync-7267-12229@df72d5537351','global_group_SUITE-no_gg_proc_sync-7299-12229@df72d5537351','global_group_SUITE-no_gg_proc_sync-7331-12229@df72d5537351']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
