[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-48322-12196@e192ee1e34b8','global_group_SUITE-compatible-48354-12196@e192ee1e34b8','global_group_SUITE-compatible-48386-12196@e192ee1e34b8',  'global_group_SUITE-compatible-48418-12196@e192ee1e34b8','global_group_SUITE-compatible-48450-12196@e192ee1e34b8','global_group_SUITE-compatible-48482-12196@e192ee1e34b8']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
