[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-50530-12196@e192ee1e34b8','global_group_SUITE-global_disconnect-cp2-50562-12196@e192ee1e34b8','global_group_SUITE-global_disconnect-cp3-50594-12196@e192ee1e34b8']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-50530-12196@e192ee1e34b8','global_group_SUITE-global_disconnect-cp2-50562-12196@e192ee1e34b8','global_group_SUITE-global_disconnect-cp3-50594-12196@e192ee1e34b8']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-50626-12196@e192ee1e34b8','global_group_SUITE-global_disconnect-cpy-50658-12196@e192ee1e34b8','global_group_SUITE-global_disconnect-cpz-50690-12196@e192ee1e34b8']}]}
  ]
 }].
