[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-8419-12196@e192ee1e34b8','global_group_SUITE-no_gg_proc_sync-8451-12196@e192ee1e34b8','global_group_SUITE-no_gg_proc_sync-8483-12196@e192ee1e34b8',  'global_group_SUITE-no_gg_proc_sync-8515-12196@e192ee1e34b8','global_group_SUITE-no_gg_proc_sync-8547-12196@e192ee1e34b8','global_group_SUITE-no_gg_proc_sync-8579-12196@e192ee1e34b8']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
