[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-50210-12196@f40bd842dbde','global_group_SUITE-compatible-50242-12196@f40bd842dbde','global_group_SUITE-compatible-50274-12196@f40bd842dbde',  'global_group_SUITE-compatible-50306-12196@f40bd842dbde','global_group_SUITE-compatible-50338-12196@f40bd842dbde','global_group_SUITE-compatible-50370-12196@f40bd842dbde']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
