[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-1540-12196@f40bd842dbde','global_group_SUITE-two_grp-1572-12196@f40bd842dbde','global_group_SUITE-two_grp-1604-12196@f40bd842dbde',  'global_group_SUITE-two_grp-1636-12196@f40bd842dbde','global_group_SUITE-two_grp-1668-12196@f40bd842dbde','global_group_SUITE-two_grp-1700-12196@f40bd842dbde']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-1540-12196@f40bd842dbde','global_group_SUITE-two_grp-1572-12196@f40bd842dbde','global_group_SUITE-two_grp-1604-12196@f40bd842dbde']},  {nc2, ['global_group_SUITE-two_grp-1636-12196@f40bd842dbde','global_group_SUITE-two_grp-1668-12196@f40bd842dbde','global_group_SUITE-two_grp-1700-12196@f40bd842dbde']}, {nc3, ['global_group_SUITE-two_grp-1732-12196@f40bd842dbde']}]} ] }]. 
