[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-1828-12196@f40bd842dbde','global_group_SUITE-hidden_groups-1860-12196@f40bd842dbde','global_group_SUITE-hidden_groups-1892-12196@f40bd842dbde',  'global_group_SUITE-hidden_groups-1924-12196@f40bd842dbde','global_group_SUITE-hidden_groups-1956-12196@f40bd842dbde','global_group_SUITE-hidden_groups-1988-12196@f40bd842dbde']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-1828-12196@f40bd842dbde','global_group_SUITE-hidden_groups-1860-12196@f40bd842dbde','global_group_SUITE-hidden_groups-1892-12196@f40bd842dbde']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-1924-12196@f40bd842dbde','global_group_SUITE-hidden_groups-1956-12196@f40bd842dbde','global_group_SUITE-hidden_groups-1988-12196@f40bd842dbde']}, {nc3, normal, ['global_group_SUITE-hidden_groups-2020-12196@f40bd842dbde']}]} ] }]. 
