[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-2180-12196@f40bd842dbde','global_group_SUITE-global_disconnect-cpy-2212-12196@f40bd842dbde','global_group_SUITE-global_disconnect-cpz-2244-12196@f40bd842dbde']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-2084-12196@f40bd842dbde','global_group_SUITE-global_disconnect-cp2-2116-12196@f40bd842dbde','global_group_SUITE-global_disconnect-cp3-2148-12196@f40bd842dbde']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-2180-12196@f40bd842dbde','global_group_SUITE-global_disconnect-cpy-2212-12196@f40bd842dbde','global_group_SUITE-global_disconnect-cpz-2244-12196@f40bd842dbde']}]}
  ]
 }].
