[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-49762-12196@f40bd842dbde','global_group_SUITE-no_gg_proc_sync-49794-12196@f40bd842dbde','global_group_SUITE-no_gg_proc_sync-49826-12196@f40bd842dbde',  'global_group_SUITE-no_gg_proc_sync-49858-12196@f40bd842dbde','global_group_SUITE-no_gg_proc_sync-49890-12196@f40bd842dbde','global_group_SUITE-no_gg_proc_sync-49922-12196@f40bd842dbde']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
