[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_28__13_35_52@3f49271ff282','cp2_global_groups_change__2025_01_28__13_35_52@3f49271ff282','cp3_global_groups_change__2025_01_28__13_35_52@3f49271ff282']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_28__13_35_52@3f49271ff282,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_28__13_35_52@3f49271ff282,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_28__13_35_52@3f49271ff282]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_28__13_35_52@3f49271ff282]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_28__13_35_52@3f49271ff282]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_28__13_35_52@3f49271ff282,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_28__13_35_52@3f49271ff282]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_28__13_35_52@3f49271ff282,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_28__13_35_52@3f49271ff282,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_28__13_35_52@3f49271ff282]}]}]}].
