[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-9731-12195@f7550f60e02b','global_group_SUITE-no_gg_proc_sync-9763-12195@f7550f60e02b','global_group_SUITE-no_gg_proc_sync-9795-12195@f7550f60e02b',  'global_group_SUITE-no_gg_proc_sync-9827-12195@f7550f60e02b','global_group_SUITE-no_gg_proc_sync-9859-12195@f7550f60e02b','global_group_SUITE-no_gg_proc_sync-9891-12195@f7550f60e02b']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
