[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3202@f7550f60e02b,
                                cp2_otp_4066__3234@f7550f60e02b]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3202@f7550f60e02b,
                               cp2_otp_4066__3234@f7550f60e02b]}]}]}].
