[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-8003-18357@08b3baa0eb63','global_group_SUITE-hidden_groups-8035-18357@08b3baa0eb63','global_group_SUITE-hidden_groups-8067-18357@08b3baa0eb63',  'global_group_SUITE-hidden_groups-8099-18357@08b3baa0eb63','global_group_SUITE-hidden_groups-8131-18357@08b3baa0eb63','global_group_SUITE-hidden_groups-8163-18357@08b3baa0eb63']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-8003-18357@08b3baa0eb63','global_group_SUITE-hidden_groups-8035-18357@08b3baa0eb63','global_group_SUITE-hidden_groups-8067-18357@08b3baa0eb63']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-8099-18357@08b3baa0eb63','global_group_SUITE-hidden_groups-8131-18357@08b3baa0eb63','global_group_SUITE-hidden_groups-8163-18357@08b3baa0eb63']}, {nc3, normal, ['global_group_SUITE-hidden_groups-8195-18357@08b3baa0eb63']}]} ] }]. 
