[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-8259-18357@08b3baa0eb63','global_group_SUITE-global_disconnect-cp2-8291-18357@08b3baa0eb63','global_group_SUITE-global_disconnect-cp3-8323-18357@08b3baa0eb63']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-8259-18357@08b3baa0eb63','global_group_SUITE-global_disconnect-cp2-8291-18357@08b3baa0eb63','global_group_SUITE-global_disconnect-cp3-8323-18357@08b3baa0eb63']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-8355-18357@08b3baa0eb63','global_group_SUITE-global_disconnect-cpy-8387-18357@08b3baa0eb63','global_group_SUITE-global_disconnect-cpz-8419-18357@08b3baa0eb63']}]}
  ]
 }].
