[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-46786-18357@08b3baa0eb63','global_group_SUITE-no_gg_proc_sync-46818-18357@08b3baa0eb63','global_group_SUITE-no_gg_proc_sync-46850-18357@08b3baa0eb63',  'global_group_SUITE-no_gg_proc_sync-46882-18357@08b3baa0eb63','global_group_SUITE-no_gg_proc_sync-46914-18357@08b3baa0eb63','global_group_SUITE-no_gg_proc_sync-46946-18357@08b3baa0eb63']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
