[{kernel,[{sync_nodes_optional,[cp1_otp_4066__1794@08b3baa0eb63,
                                cp2_otp_4066__1826@08b3baa0eb63]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__1794@08b3baa0eb63,
                               cp2_otp_4066__1826@08b3baa0eb63]}]}]}].
