[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63','cp2_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63','cp3_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2023_12_22__02_40_25@08b3baa0eb63]}]}]}].
