[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-51426-12212@39156ab27e3d','global_group_SUITE-global_disconnect-cpy-51458-12212@39156ab27e3d','global_group_SUITE-global_disconnect-cpz-51490-12212@39156ab27e3d']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-51330-12212@39156ab27e3d','global_group_SUITE-global_disconnect-cp2-51362-12212@39156ab27e3d','global_group_SUITE-global_disconnect-cp3-51394-12212@39156ab27e3d']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-51426-12212@39156ab27e3d','global_group_SUITE-global_disconnect-cpy-51458-12212@39156ab27e3d','global_group_SUITE-global_disconnect-cpz-51490-12212@39156ab27e3d']}]}
  ]
 }].
