[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-48866-12212@39156ab27e3d','global_group_SUITE-no_gg_proc_sync-48898-12212@39156ab27e3d','global_group_SUITE-no_gg_proc_sync-48930-12212@39156ab27e3d',  'global_group_SUITE-no_gg_proc_sync-48962-12212@39156ab27e3d','global_group_SUITE-no_gg_proc_sync-48994-12212@39156ab27e3d','global_group_SUITE-no_gg_proc_sync-49026-12212@39156ab27e3d']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
