[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3234@39156ab27e3d,
                                cp2_otp_4066__3266@39156ab27e3d]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3234@39156ab27e3d,
                               cp2_otp_4066__3266@39156ab27e3d]}]}]}].
