[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-23683-12143@e796b67ac10d','global_group_SUITE-compatible-23715-12143@e796b67ac10d','global_group_SUITE-compatible-23747-12143@e796b67ac10d',  'global_group_SUITE-compatible-23779-12143@e796b67ac10d','global_group_SUITE-compatible-23811-12143@e796b67ac10d','global_group_SUITE-compatible-23843-12143@e796b67ac10d']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
