[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-39042-12143@e796b67ac10d','global_group_SUITE-hidden_groups-39074-12143@e796b67ac10d','global_group_SUITE-hidden_groups-39106-12143@e796b67ac10d',  'global_group_SUITE-hidden_groups-39138-12143@e796b67ac10d','global_group_SUITE-hidden_groups-39170-12143@e796b67ac10d','global_group_SUITE-hidden_groups-39202-12143@e796b67ac10d']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-39042-12143@e796b67ac10d','global_group_SUITE-hidden_groups-39074-12143@e796b67ac10d','global_group_SUITE-hidden_groups-39106-12143@e796b67ac10d']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-39138-12143@e796b67ac10d','global_group_SUITE-hidden_groups-39170-12143@e796b67ac10d','global_group_SUITE-hidden_groups-39202-12143@e796b67ac10d']}, {nc3, normal, ['global_group_SUITE-hidden_groups-39234-12143@e796b67ac10d']}]} ] }]. 
