[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-23491-12143@e796b67ac10d','global_group_SUITE-no_gg_proc_sync-23523-12143@e796b67ac10d','global_group_SUITE-no_gg_proc_sync-23555-12143@e796b67ac10d',  'global_group_SUITE-no_gg_proc_sync-23587-12143@e796b67ac10d','global_group_SUITE-no_gg_proc_sync-23619-12143@e796b67ac10d','global_group_SUITE-no_gg_proc_sync-23651-12143@e796b67ac10d']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
