[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3234@e796b67ac10d,
                                cp2_otp_4066__3266@e796b67ac10d]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3234@e796b67ac10d,
                               cp2_otp_4066__3266@e796b67ac10d]}]}]}].
