[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-43650-12228@c2ee5e7565e6','global_group_SUITE-compatible-43682-12228@c2ee5e7565e6','global_group_SUITE-compatible-43714-12228@c2ee5e7565e6',  'global_group_SUITE-compatible-43746-12228@c2ee5e7565e6','global_group_SUITE-compatible-43778-12228@c2ee5e7565e6','global_group_SUITE-compatible-43810-12228@c2ee5e7565e6']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
