[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-45954-12228@c2ee5e7565e6','global_group_SUITE-global_disconnect-cpy-45986-12228@c2ee5e7565e6','global_group_SUITE-global_disconnect-cpz-46018-12228@c2ee5e7565e6']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-45858-12228@c2ee5e7565e6','global_group_SUITE-global_disconnect-cp2-45890-12228@c2ee5e7565e6','global_group_SUITE-global_disconnect-cp3-45922-12228@c2ee5e7565e6']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-45954-12228@c2ee5e7565e6','global_group_SUITE-global_disconnect-cpy-45986-12228@c2ee5e7565e6','global_group_SUITE-global_disconnect-cpz-46018-12228@c2ee5e7565e6']}]}
  ]
 }].
