[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-43170-12228@c2ee5e7565e6','global_group_SUITE-no_gg_proc_sync-43202-12228@c2ee5e7565e6','global_group_SUITE-no_gg_proc_sync-43234-12228@c2ee5e7565e6',  'global_group_SUITE-no_gg_proc_sync-43266-12228@c2ee5e7565e6','global_group_SUITE-no_gg_proc_sync-43298-12228@c2ee5e7565e6','global_group_SUITE-no_gg_proc_sync-43330-12228@c2ee5e7565e6']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
