[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6','cp2_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6','cp3_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_08_30__11_36_42@c2ee5e7565e6]}]}]}].
