[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-52450-12309@53f64ac91c9c','global_group_SUITE-compatible-52482-12309@53f64ac91c9c','global_group_SUITE-compatible-52514-12309@53f64ac91c9c',  'global_group_SUITE-compatible-52546-12309@53f64ac91c9c','global_group_SUITE-compatible-52578-12309@53f64ac91c9c','global_group_SUITE-compatible-52610-12309@53f64ac91c9c']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
