[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-51970-12309@53f64ac91c9c','global_group_SUITE-no_gg_proc_sync-52002-12309@53f64ac91c9c','global_group_SUITE-no_gg_proc_sync-52034-12309@53f64ac91c9c',  'global_group_SUITE-no_gg_proc_sync-52066-12309@53f64ac91c9c','global_group_SUITE-no_gg_proc_sync-52098-12309@53f64ac91c9c','global_group_SUITE-no_gg_proc_sync-52130-12309@53f64ac91c9c']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
