[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c','cp2_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c','cp3_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_29__16_23_41@53f64ac91c9c]}]}]}].
