[{ssh,
     [{preferred_algorithms,
          [{cipher,['aes128-ctr']},{kex,['curve25519-sha256']}]},
      {server_options,
          [{modify_algorithms,
               [{rm,[{kex,['curve25519-sha256']}]},
                {append,[{kex,['curve25519-sha256@libssh.org']}]}]}]},
      {client_options,
          [{modify_algorithms,
               [{rm,[{kex,['curve25519-sha256']}]},
                {append,
                    [{kex,['diffie-hellman-group-exchange-sha256']}]}]}]}]}].
