[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-7587-12307@127afcc32d22','global_group_SUITE-hidden_groups-7619-12307@127afcc32d22','global_group_SUITE-hidden_groups-7651-12307@127afcc32d22',  'global_group_SUITE-hidden_groups-7683-12307@127afcc32d22','global_group_SUITE-hidden_groups-7715-12307@127afcc32d22','global_group_SUITE-hidden_groups-7747-12307@127afcc32d22']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-7587-12307@127afcc32d22','global_group_SUITE-hidden_groups-7619-12307@127afcc32d22','global_group_SUITE-hidden_groups-7651-12307@127afcc32d22']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-7683-12307@127afcc32d22','global_group_SUITE-hidden_groups-7715-12307@127afcc32d22','global_group_SUITE-hidden_groups-7747-12307@127afcc32d22']}, {nc3, normal, ['global_group_SUITE-hidden_groups-7779-12307@127afcc32d22']}]} ] }]. 
