[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-54914-12307@127afcc32d22','global_group_SUITE-no_gg_proc_sync-54946-12307@127afcc32d22','global_group_SUITE-no_gg_proc_sync-54978-12307@127afcc32d22',  'global_group_SUITE-no_gg_proc_sync-55010-12307@127afcc32d22','global_group_SUITE-no_gg_proc_sync-55042-12307@127afcc32d22','global_group_SUITE-no_gg_proc_sync-55074-12307@127afcc32d22']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
