[{kernel,[{sync_nodes_optional,[cp1_otp_4066__131@127afcc32d22,
                                cp2_otp_4066__163@127afcc32d22]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__131@127afcc32d22,
                               cp2_otp_4066__163@127afcc32d22]}]}]}].
