[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_13__12_30_29@127afcc32d22','cp2_global_groups_change__2025_01_13__12_30_29@127afcc32d22','cp3_global_groups_change__2025_01_13__12_30_29@127afcc32d22']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_13__12_30_29@127afcc32d22,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_13__12_30_29@127afcc32d22,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_13__12_30_29@127afcc32d22]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_13__12_30_29@127afcc32d22]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_13__12_30_29@127afcc32d22]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_13__12_30_29@127afcc32d22,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_13__12_30_29@127afcc32d22]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_13__12_30_29@127afcc32d22,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_13__12_30_29@127afcc32d22,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_13__12_30_29@127afcc32d22]}]}]}].
