[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-52386-12212@a5e4d6b7d7e7','global_group_SUITE-hidden_groups-52418-12212@a5e4d6b7d7e7','global_group_SUITE-hidden_groups-52450-12212@a5e4d6b7d7e7',  'global_group_SUITE-hidden_groups-52482-12212@a5e4d6b7d7e7','global_group_SUITE-hidden_groups-52514-12212@a5e4d6b7d7e7','global_group_SUITE-hidden_groups-52546-12212@a5e4d6b7d7e7']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-52386-12212@a5e4d6b7d7e7','global_group_SUITE-hidden_groups-52418-12212@a5e4d6b7d7e7','global_group_SUITE-hidden_groups-52450-12212@a5e4d6b7d7e7']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-52482-12212@a5e4d6b7d7e7','global_group_SUITE-hidden_groups-52514-12212@a5e4d6b7d7e7','global_group_SUITE-hidden_groups-52546-12212@a5e4d6b7d7e7']}, {nc3, normal, ['global_group_SUITE-hidden_groups-52578-12212@a5e4d6b7d7e7']}]} ] }]. 
