[{kernel,[{sync_nodes_optional,[cp1_otp_4066__163@a5e4d6b7d7e7,
                                cp2_otp_4066__195@a5e4d6b7d7e7]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__163@a5e4d6b7d7e7,
                               cp2_otp_4066__195@a5e4d6b7d7e7]}]}]}].
