[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-8963-12145@95b7d47b1adb','global_group_SUITE-compatible-8995-12145@95b7d47b1adb','global_group_SUITE-compatible-9027-12145@95b7d47b1adb',  'global_group_SUITE-compatible-9059-12145@95b7d47b1adb','global_group_SUITE-compatible-9091-12145@95b7d47b1adb','global_group_SUITE-compatible-9123-12145@95b7d47b1adb']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
