[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-8771-12145@95b7d47b1adb','global_group_SUITE-no_gg_proc_sync-8803-12145@95b7d47b1adb','global_group_SUITE-no_gg_proc_sync-8835-12145@95b7d47b1adb',  'global_group_SUITE-no_gg_proc_sync-8867-12145@95b7d47b1adb','global_group_SUITE-no_gg_proc_sync-8899-12145@95b7d47b1adb','global_group_SUITE-no_gg_proc_sync-8931-12145@95b7d47b1adb']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
