[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb','cp2_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb','cp3_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_06_25__17_07_16@95b7d47b1adb]}]}]}].
