[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-53122-12376@54fa6deef237','global_group_SUITE-compatible-53154-12376@54fa6deef237','global_group_SUITE-compatible-53186-12376@54fa6deef237',  'global_group_SUITE-compatible-53218-12376@54fa6deef237','global_group_SUITE-compatible-53250-12376@54fa6deef237','global_group_SUITE-compatible-53282-12376@54fa6deef237']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
