[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-54850-12376@54fa6deef237','global_group_SUITE-hidden_groups-54882-12376@54fa6deef237','global_group_SUITE-hidden_groups-54914-12376@54fa6deef237',  'global_group_SUITE-hidden_groups-54946-12376@54fa6deef237','global_group_SUITE-hidden_groups-54978-12376@54fa6deef237','global_group_SUITE-hidden_groups-55010-12376@54fa6deef237']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-54850-12376@54fa6deef237','global_group_SUITE-hidden_groups-54882-12376@54fa6deef237','global_group_SUITE-hidden_groups-54914-12376@54fa6deef237']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-54946-12376@54fa6deef237','global_group_SUITE-hidden_groups-54978-12376@54fa6deef237','global_group_SUITE-hidden_groups-55010-12376@54fa6deef237']}, {nc3, normal, ['global_group_SUITE-hidden_groups-55042-12376@54fa6deef237']}]} ] }]. 
