[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-52642-12376@54fa6deef237','global_group_SUITE-no_gg_proc_sync-52674-12376@54fa6deef237','global_group_SUITE-no_gg_proc_sync-52706-12376@54fa6deef237',  'global_group_SUITE-no_gg_proc_sync-52738-12376@54fa6deef237','global_group_SUITE-no_gg_proc_sync-52770-12376@54fa6deef237','global_group_SUITE-no_gg_proc_sync-52802-12376@54fa6deef237']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
