[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-52962-12228@dec1be658003','global_group_SUITE-hidden_groups-52994-12228@dec1be658003','global_group_SUITE-hidden_groups-53026-12228@dec1be658003',  'global_group_SUITE-hidden_groups-53058-12228@dec1be658003','global_group_SUITE-hidden_groups-53090-12228@dec1be658003','global_group_SUITE-hidden_groups-53122-12228@dec1be658003']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-52962-12228@dec1be658003','global_group_SUITE-hidden_groups-52994-12228@dec1be658003','global_group_SUITE-hidden_groups-53026-12228@dec1be658003']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-53058-12228@dec1be658003','global_group_SUITE-hidden_groups-53090-12228@dec1be658003','global_group_SUITE-hidden_groups-53122-12228@dec1be658003']}, {nc3, normal, ['global_group_SUITE-hidden_groups-53154-12228@dec1be658003']}]} ] }]. 
