[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-45346-12207@daaa8e7f2d37','global_group_SUITE-two_grp-45378-12207@daaa8e7f2d37','global_group_SUITE-two_grp-45410-12207@daaa8e7f2d37',  'global_group_SUITE-two_grp-45442-12207@daaa8e7f2d37','global_group_SUITE-two_grp-45474-12207@daaa8e7f2d37','global_group_SUITE-two_grp-45506-12207@daaa8e7f2d37']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-45346-12207@daaa8e7f2d37','global_group_SUITE-two_grp-45378-12207@daaa8e7f2d37','global_group_SUITE-two_grp-45410-12207@daaa8e7f2d37']},  {nc2, ['global_group_SUITE-two_grp-45442-12207@daaa8e7f2d37','global_group_SUITE-two_grp-45474-12207@daaa8e7f2d37','global_group_SUITE-two_grp-45506-12207@daaa8e7f2d37']}, {nc3, ['global_group_SUITE-two_grp-45538-12207@daaa8e7f2d37']}]} ] }]. 
