[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-44482-12207@daaa8e7f2d37','global_group_SUITE-compatible-44514-12207@daaa8e7f2d37','global_group_SUITE-compatible-44546-12207@daaa8e7f2d37',  'global_group_SUITE-compatible-44578-12207@daaa8e7f2d37','global_group_SUITE-compatible-44610-12207@daaa8e7f2d37','global_group_SUITE-compatible-44642-12207@daaa8e7f2d37']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
