[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-46018-12207@daaa8e7f2d37','global_group_SUITE-hidden_groups-46050-12207@daaa8e7f2d37','global_group_SUITE-hidden_groups-46082-12207@daaa8e7f2d37',  'global_group_SUITE-hidden_groups-46114-12207@daaa8e7f2d37','global_group_SUITE-hidden_groups-46146-12207@daaa8e7f2d37','global_group_SUITE-hidden_groups-46178-12207@daaa8e7f2d37']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-46018-12207@daaa8e7f2d37','global_group_SUITE-hidden_groups-46050-12207@daaa8e7f2d37','global_group_SUITE-hidden_groups-46082-12207@daaa8e7f2d37']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-46114-12207@daaa8e7f2d37','global_group_SUITE-hidden_groups-46146-12207@daaa8e7f2d37','global_group_SUITE-hidden_groups-46178-12207@daaa8e7f2d37']}, {nc3, normal, ['global_group_SUITE-hidden_groups-46210-12207@daaa8e7f2d37']}]} ] }]. 
