[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-46498-12207@daaa8e7f2d37','global_group_SUITE-global_disconnect-cp2-46530-12207@daaa8e7f2d37','global_group_SUITE-global_disconnect-cp3-46562-12207@daaa8e7f2d37']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-46498-12207@daaa8e7f2d37','global_group_SUITE-global_disconnect-cp2-46530-12207@daaa8e7f2d37','global_group_SUITE-global_disconnect-cp3-46562-12207@daaa8e7f2d37']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-46594-12207@daaa8e7f2d37','global_group_SUITE-global_disconnect-cpy-46626-12207@daaa8e7f2d37','global_group_SUITE-global_disconnect-cpz-46658-12207@daaa8e7f2d37']}]}
  ]
 }].
