[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-51618-12210@c1b06b4970dd','global_group_SUITE-hidden_groups-51650-12210@c1b06b4970dd','global_group_SUITE-hidden_groups-51682-12210@c1b06b4970dd',  'global_group_SUITE-hidden_groups-51714-12210@c1b06b4970dd','global_group_SUITE-hidden_groups-51746-12210@c1b06b4970dd','global_group_SUITE-hidden_groups-51778-12210@c1b06b4970dd']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-51618-12210@c1b06b4970dd','global_group_SUITE-hidden_groups-51650-12210@c1b06b4970dd','global_group_SUITE-hidden_groups-51682-12210@c1b06b4970dd']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-51714-12210@c1b06b4970dd','global_group_SUITE-hidden_groups-51746-12210@c1b06b4970dd','global_group_SUITE-hidden_groups-51778-12210@c1b06b4970dd']}, {nc3, normal, ['global_group_SUITE-hidden_groups-51810-12210@c1b06b4970dd']}]} ] }]. 
