[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-3684-12210@c1b06b4970dd','global_group_SUITE-no_gg_proc_sync-3716-12210@c1b06b4970dd','global_group_SUITE-no_gg_proc_sync-3748-12210@c1b06b4970dd',  'global_group_SUITE-no_gg_proc_sync-3780-12210@c1b06b4970dd','global_group_SUITE-no_gg_proc_sync-3812-12210@c1b06b4970dd','global_group_SUITE-no_gg_proc_sync-3844-12210@c1b06b4970dd']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
