[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd','cp2_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd','cp3_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_08_30__15_26_51@c1b06b4970dd]}]}]}].
