{incremental,{default_apps,[stdlib,kernel,erts,extra_modules]},
             {default_warning_apps,[extra_modules]}}.
{warnings,[no_unknown]}.
{add_pathsa,["/buildroot/otp/lib/dialyzer/make_test_dir/ct_logs/ct_run.test_server@ecf8287c9ea7.2025-01-09_11.09.26/make_test_dir.dialyzer_test.logs/run.2025-01-09_11.09.28/log_private/extra_modules",
             "/buildroot/otp/lib/dialyzer/make_test_dir/ct_logs/ct_run.test_server@ecf8287c9ea7.2025-01-09_11.09.26/make_test_dir.dialyzer_test.logs/run.2025-01-09_11.09.28/log_private/extra_modules/ebin",
             "/buildroot/otp/lib/dialyzer/make_test_dir/ct_logs/ct_run.test_server@ecf8287c9ea7.2025-01-09_11.09.26/make_test_dir.dialyzer_test.logs/run.2025-01-09_11.09.28/log_private/extra_modules/src"]}.
