[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-51234-12216@5fbfb6ea3cd3','global_group_SUITE-compatible-51266-12216@5fbfb6ea3cd3','global_group_SUITE-compatible-51298-12216@5fbfb6ea3cd3',  'global_group_SUITE-compatible-51330-12216@5fbfb6ea3cd3','global_group_SUITE-compatible-51362-12216@5fbfb6ea3cd3','global_group_SUITE-compatible-51394-12216@5fbfb6ea3cd3']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
