[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-10179-12216@5fbfb6ea3cd3','global_group_SUITE-two_grp-10211-12216@5fbfb6ea3cd3','global_group_SUITE-two_grp-10243-12216@5fbfb6ea3cd3',  'global_group_SUITE-two_grp-10275-12216@5fbfb6ea3cd3','global_group_SUITE-two_grp-10307-12216@5fbfb6ea3cd3','global_group_SUITE-two_grp-10339-12216@5fbfb6ea3cd3']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-10179-12216@5fbfb6ea3cd3','global_group_SUITE-two_grp-10211-12216@5fbfb6ea3cd3','global_group_SUITE-two_grp-10243-12216@5fbfb6ea3cd3']},  {nc2, ['global_group_SUITE-two_grp-10275-12216@5fbfb6ea3cd3','global_group_SUITE-two_grp-10307-12216@5fbfb6ea3cd3','global_group_SUITE-two_grp-10339-12216@5fbfb6ea3cd3']}, {nc3, ['global_group_SUITE-two_grp-10371-12216@5fbfb6ea3cd3']}]} ] }]. 
