[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-50786-12216@5fbfb6ea3cd3','global_group_SUITE-no_gg_proc_sync-50818-12216@5fbfb6ea3cd3','global_group_SUITE-no_gg_proc_sync-50850-12216@5fbfb6ea3cd3',  'global_group_SUITE-no_gg_proc_sync-50882-12216@5fbfb6ea3cd3','global_group_SUITE-no_gg_proc_sync-50914-12216@5fbfb6ea3cd3','global_group_SUITE-no_gg_proc_sync-50946-12216@5fbfb6ea3cd3']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
