[{kernel,[{sync_nodes_optional,[cp1_otp_4066__163@5fbfb6ea3cd3,
                                cp2_otp_4066__195@5fbfb6ea3cd3]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__163@5fbfb6ea3cd3,
                               cp2_otp_4066__195@5fbfb6ea3cd3]}]}]}].
