[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-52674-18299@ce0b7774315a','global_group_SUITE-global_disconnect-cpy-52706-18299@ce0b7774315a','global_group_SUITE-global_disconnect-cpz-52738-18299@ce0b7774315a']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-52578-18299@ce0b7774315a','global_group_SUITE-global_disconnect-cp2-52610-18299@ce0b7774315a','global_group_SUITE-global_disconnect-cp3-52642-18299@ce0b7774315a']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-52674-18299@ce0b7774315a','global_group_SUITE-global_disconnect-cpy-52706-18299@ce0b7774315a','global_group_SUITE-global_disconnect-cpz-52738-18299@ce0b7774315a']}]}
  ]
 }].
