[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_08_16__13_30_36@781231d14a26','cp2_global_groups_change__2024_08_16__13_30_36@781231d14a26','cp3_global_groups_change__2024_08_16__13_30_36@781231d14a26']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_08_16__13_30_36@781231d14a26,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_08_16__13_30_36@781231d14a26,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_08_16__13_30_36@781231d14a26]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_08_16__13_30_36@781231d14a26]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_08_16__13_30_36@781231d14a26]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_08_16__13_30_36@781231d14a26,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_08_16__13_30_36@781231d14a26]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_08_16__13_30_36@781231d14a26,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_08_16__13_30_36@781231d14a26,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_08_16__13_30_36@781231d14a26]}]}]}].
