[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-11875-12146@09fd278ebb40','global_group_SUITE-compatible-11907-12146@09fd278ebb40','global_group_SUITE-compatible-11939-12146@09fd278ebb40',  'global_group_SUITE-compatible-11971-12146@09fd278ebb40','global_group_SUITE-compatible-12003-12146@09fd278ebb40','global_group_SUITE-compatible-12035-12146@09fd278ebb40']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
