[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-12739-12146@09fd278ebb40','global_group_SUITE-hidden_groups-12771-12146@09fd278ebb40','global_group_SUITE-hidden_groups-12803-12146@09fd278ebb40',  'global_group_SUITE-hidden_groups-12835-12146@09fd278ebb40','global_group_SUITE-hidden_groups-12867-12146@09fd278ebb40','global_group_SUITE-hidden_groups-12899-12146@09fd278ebb40']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-12739-12146@09fd278ebb40','global_group_SUITE-hidden_groups-12771-12146@09fd278ebb40','global_group_SUITE-hidden_groups-12803-12146@09fd278ebb40']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-12835-12146@09fd278ebb40','global_group_SUITE-hidden_groups-12867-12146@09fd278ebb40','global_group_SUITE-hidden_groups-12899-12146@09fd278ebb40']}, {nc3, normal, ['global_group_SUITE-hidden_groups-12931-12146@09fd278ebb40']}]} ] }]. 
