[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-13091-12146@09fd278ebb40','global_group_SUITE-global_disconnect-cpy-13123-12146@09fd278ebb40','global_group_SUITE-global_disconnect-cpz-13155-12146@09fd278ebb40']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-12995-12146@09fd278ebb40','global_group_SUITE-global_disconnect-cp2-13027-12146@09fd278ebb40','global_group_SUITE-global_disconnect-cp3-13059-12146@09fd278ebb40']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-13091-12146@09fd278ebb40','global_group_SUITE-global_disconnect-cpy-13123-12146@09fd278ebb40','global_group_SUITE-global_disconnect-cpz-13155-12146@09fd278ebb40']}]}
  ]
 }].
