[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-10115-12151@4aac3b09c5bd','global_group_SUITE-compatible-10147-12151@4aac3b09c5bd','global_group_SUITE-compatible-10179-12151@4aac3b09c5bd',  'global_group_SUITE-compatible-10211-12151@4aac3b09c5bd','global_group_SUITE-compatible-10243-12151@4aac3b09c5bd','global_group_SUITE-compatible-10275-12151@4aac3b09c5bd']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
