[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-51298-12151@4aac3b09c5bd','global_group_SUITE-no_gg_proc_sync-51330-12151@4aac3b09c5bd','global_group_SUITE-no_gg_proc_sync-51362-12151@4aac3b09c5bd',  'global_group_SUITE-no_gg_proc_sync-51394-12151@4aac3b09c5bd','global_group_SUITE-no_gg_proc_sync-51426-12151@4aac3b09c5bd','global_group_SUITE-no_gg_proc_sync-51458-12151@4aac3b09c5bd']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
