[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3170@4aac3b09c5bd,
                                cp2_otp_4066__3202@4aac3b09c5bd]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3170@4aac3b09c5bd,
                               cp2_otp_4066__3202@4aac3b09c5bd]}]}]}].
