[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd','cp2_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd','cp3_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_12_06__12_42_18@4aac3b09c5bd]}]}]}].
