[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-7491-12145@fb7d4d9ae452','global_group_SUITE-two_grp-7523-12145@fb7d4d9ae452','global_group_SUITE-two_grp-7555-12145@fb7d4d9ae452',  'global_group_SUITE-two_grp-7587-12145@fb7d4d9ae452','global_group_SUITE-two_grp-7619-12145@fb7d4d9ae452','global_group_SUITE-two_grp-7651-12145@fb7d4d9ae452']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-7491-12145@fb7d4d9ae452','global_group_SUITE-two_grp-7523-12145@fb7d4d9ae452','global_group_SUITE-two_grp-7555-12145@fb7d4d9ae452']},  {nc2, ['global_group_SUITE-two_grp-7587-12145@fb7d4d9ae452','global_group_SUITE-two_grp-7619-12145@fb7d4d9ae452','global_group_SUITE-two_grp-7651-12145@fb7d4d9ae452']}, {nc3, ['global_group_SUITE-two_grp-7683-12145@fb7d4d9ae452']}]} ] }]. 
