[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-7811-12145@fb7d4d9ae452','global_group_SUITE-hidden_groups-7843-12145@fb7d4d9ae452','global_group_SUITE-hidden_groups-7875-12145@fb7d4d9ae452',  'global_group_SUITE-hidden_groups-7907-12145@fb7d4d9ae452','global_group_SUITE-hidden_groups-7939-12145@fb7d4d9ae452','global_group_SUITE-hidden_groups-7971-12145@fb7d4d9ae452']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-7811-12145@fb7d4d9ae452','global_group_SUITE-hidden_groups-7843-12145@fb7d4d9ae452','global_group_SUITE-hidden_groups-7875-12145@fb7d4d9ae452']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-7907-12145@fb7d4d9ae452','global_group_SUITE-hidden_groups-7939-12145@fb7d4d9ae452','global_group_SUITE-hidden_groups-7971-12145@fb7d4d9ae452']}, {nc3, normal, ['global_group_SUITE-hidden_groups-8003-12145@fb7d4d9ae452']}]} ] }]. 
