[{kernel,[{sync_nodes_optional,[cp1_otp_4066__131@fb7d4d9ae452,
                                cp2_otp_4066__163@fb7d4d9ae452]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__131@fb7d4d9ae452,
                               cp2_otp_4066__163@fb7d4d9ae452]}]}]}].
