[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-48482-12152@c4c7a9f03616','global_group_SUITE-no_gg_proc_sync-48514-12152@c4c7a9f03616','global_group_SUITE-no_gg_proc_sync-48546-12152@c4c7a9f03616',  'global_group_SUITE-no_gg_proc_sync-48578-12152@c4c7a9f03616','global_group_SUITE-no_gg_proc_sync-48610-12152@c4c7a9f03616','global_group_SUITE-no_gg_proc_sync-48642-12152@c4c7a9f03616']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
