[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616','cp2_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616','cp3_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_10_24__13_07_08@c4c7a9f03616]}]}]}].
