[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-44514-12141@8709c108a4e7','global_group_SUITE-global_disconnect-cp2-44546-12141@8709c108a4e7','global_group_SUITE-global_disconnect-cp3-44578-12141@8709c108a4e7']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-44514-12141@8709c108a4e7','global_group_SUITE-global_disconnect-cp2-44546-12141@8709c108a4e7','global_group_SUITE-global_disconnect-cp3-44578-12141@8709c108a4e7']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-44610-12141@8709c108a4e7','global_group_SUITE-global_disconnect-cpy-44642-12141@8709c108a4e7','global_group_SUITE-global_disconnect-cpz-44674-12141@8709c108a4e7']}]}
  ]
 }].
