[{kernel,[{logger,[{handler,default,logger_std_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@638737ced5a0.2024-10-23_10.58.32/make_test_dir.kernel_test.logs/run.2024-10-23_10.59.00/log_private/file.log"}}}]}]}].