[{kernel,[{sync_nodes_optional,[cp1_otp_4066__2082@a228d1322aa7,
                                cp2_otp_4066__2114@a228d1322aa7]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__2082@a228d1322aa7,
                               cp2_otp_4066__2114@a228d1322aa7]}]}]}].
