[{kernel,[{logger,[{handler,default,logger_std_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@9d427b98108e.2024-10-02_10.47.57/make_test_dir.kernel_test.logs/run.2024-10-02_10.48.27/log_private/file.log"}}}]}]}].