[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-6691-12228@a45a45e644ba','global_group_SUITE-compatible-6723-12228@a45a45e644ba','global_group_SUITE-compatible-6755-12228@a45a45e644ba',  'global_group_SUITE-compatible-6787-12228@a45a45e644ba','global_group_SUITE-compatible-6819-12228@a45a45e644ba','global_group_SUITE-compatible-6851-12228@a45a45e644ba']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
