[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-40162-12228@a45a45e644ba','global_group_SUITE-hidden_groups-40194-12228@a45a45e644ba','global_group_SUITE-hidden_groups-40226-12228@a45a45e644ba',  'global_group_SUITE-hidden_groups-40258-12228@a45a45e644ba','global_group_SUITE-hidden_groups-40290-12228@a45a45e644ba','global_group_SUITE-hidden_groups-40322-12228@a45a45e644ba']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-40162-12228@a45a45e644ba','global_group_SUITE-hidden_groups-40194-12228@a45a45e644ba','global_group_SUITE-hidden_groups-40226-12228@a45a45e644ba']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-40258-12228@a45a45e644ba','global_group_SUITE-hidden_groups-40290-12228@a45a45e644ba','global_group_SUITE-hidden_groups-40322-12228@a45a45e644ba']}, {nc3, normal, ['global_group_SUITE-hidden_groups-40354-12228@a45a45e644ba']}]} ] }]. 
