[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-40738-12228@a45a45e644ba','global_group_SUITE-global_disconnect-cpy-40770-12228@a45a45e644ba','global_group_SUITE-global_disconnect-cpz-40802-12228@a45a45e644ba']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-40642-12228@a45a45e644ba','global_group_SUITE-global_disconnect-cp2-40674-12228@a45a45e644ba','global_group_SUITE-global_disconnect-cp3-40706-12228@a45a45e644ba']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-40738-12228@a45a45e644ba','global_group_SUITE-global_disconnect-cpy-40770-12228@a45a45e644ba','global_group_SUITE-global_disconnect-cpz-40802-12228@a45a45e644ba']}]}
  ]
 }].
