[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-48546-12228@f6077cba6549','global_group_SUITE-global_disconnect-cp2-48578-12228@f6077cba6549','global_group_SUITE-global_disconnect-cp3-48610-12228@f6077cba6549']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-48546-12228@f6077cba6549','global_group_SUITE-global_disconnect-cp2-48578-12228@f6077cba6549','global_group_SUITE-global_disconnect-cp3-48610-12228@f6077cba6549']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-48642-12228@f6077cba6549','global_group_SUITE-global_disconnect-cpy-48674-12228@f6077cba6549','global_group_SUITE-global_disconnect-cpz-48706-12228@f6077cba6549']}]}
  ]
 }].
