[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_07_06__01_09_44@f6077cba6549','cp2_global_groups_change__2024_07_06__01_09_44@f6077cba6549','cp3_global_groups_change__2024_07_06__01_09_44@f6077cba6549']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_07_06__01_09_44@f6077cba6549,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_07_06__01_09_44@f6077cba6549,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_07_06__01_09_44@f6077cba6549]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_07_06__01_09_44@f6077cba6549]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_07_06__01_09_44@f6077cba6549]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_07_06__01_09_44@f6077cba6549,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_07_06__01_09_44@f6077cba6549]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_07_06__01_09_44@f6077cba6549,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_07_06__01_09_44@f6077cba6549,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_07_06__01_09_44@f6077cba6549]}]}]}].
