[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-53954-12212@77ac2f415b1a','global_group_SUITE-hidden_groups-53986-12212@77ac2f415b1a','global_group_SUITE-hidden_groups-54018-12212@77ac2f415b1a',  'global_group_SUITE-hidden_groups-54050-12212@77ac2f415b1a','global_group_SUITE-hidden_groups-54082-12212@77ac2f415b1a','global_group_SUITE-hidden_groups-54114-12212@77ac2f415b1a']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-53954-12212@77ac2f415b1a','global_group_SUITE-hidden_groups-53986-12212@77ac2f415b1a','global_group_SUITE-hidden_groups-54018-12212@77ac2f415b1a']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-54050-12212@77ac2f415b1a','global_group_SUITE-hidden_groups-54082-12212@77ac2f415b1a','global_group_SUITE-hidden_groups-54114-12212@77ac2f415b1a']}, {nc3, normal, ['global_group_SUITE-hidden_groups-54146-12212@77ac2f415b1a']}]} ] }]. 
