[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-54434-12212@77ac2f415b1a','global_group_SUITE-global_disconnect-cp2-54466-12212@77ac2f415b1a','global_group_SUITE-global_disconnect-cp3-54498-12212@77ac2f415b1a']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-54434-12212@77ac2f415b1a','global_group_SUITE-global_disconnect-cp2-54466-12212@77ac2f415b1a','global_group_SUITE-global_disconnect-cp3-54498-12212@77ac2f415b1a']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-54530-12212@77ac2f415b1a','global_group_SUITE-global_disconnect-cpy-54562-12212@77ac2f415b1a','global_group_SUITE-global_disconnect-cpz-54594-12212@77ac2f415b1a']}]}
  ]
 }].
