[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-51746-12212@77ac2f415b1a','global_group_SUITE-no_gg_proc_sync-51778-12212@77ac2f415b1a','global_group_SUITE-no_gg_proc_sync-51810-12212@77ac2f415b1a',  'global_group_SUITE-no_gg_proc_sync-51842-12212@77ac2f415b1a','global_group_SUITE-no_gg_proc_sync-51874-12212@77ac2f415b1a','global_group_SUITE-no_gg_proc_sync-51906-12212@77ac2f415b1a']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
