[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_09_24__12_10_14@e4672803474e','cp2_global_groups_change__2024_09_24__12_10_14@e4672803474e','cp3_global_groups_change__2024_09_24__12_10_14@e4672803474e']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_09_24__12_10_14@e4672803474e,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_09_24__12_10_14@e4672803474e,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_09_24__12_10_14@e4672803474e]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_09_24__12_10_14@e4672803474e]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_09_24__12_10_14@e4672803474e]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_09_24__12_10_14@e4672803474e,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_09_24__12_10_14@e4672803474e]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_09_24__12_10_14@e4672803474e,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_09_24__12_10_14@e4672803474e,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_09_24__12_10_14@e4672803474e]}]}]}].
