[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-53442-12196@589d5184f0fc','global_group_SUITE-global_disconnect-cpy-53474-12196@589d5184f0fc','global_group_SUITE-global_disconnect-cpz-53506-12196@589d5184f0fc']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-53346-12196@589d5184f0fc','global_group_SUITE-global_disconnect-cp2-53378-12196@589d5184f0fc','global_group_SUITE-global_disconnect-cp3-53410-12196@589d5184f0fc']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-53442-12196@589d5184f0fc','global_group_SUITE-global_disconnect-cpy-53474-12196@589d5184f0fc','global_group_SUITE-global_disconnect-cpz-53506-12196@589d5184f0fc']}]}
  ]
 }].
