[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-50850-12196@589d5184f0fc','global_group_SUITE-no_gg_proc_sync-50882-12196@589d5184f0fc','global_group_SUITE-no_gg_proc_sync-50914-12196@589d5184f0fc',  'global_group_SUITE-no_gg_proc_sync-50946-12196@589d5184f0fc','global_group_SUITE-no_gg_proc_sync-50978-12196@589d5184f0fc','global_group_SUITE-no_gg_proc_sync-51010-12196@589d5184f0fc']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
