[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-52610-12212@230741c2adad','global_group_SUITE-hidden_groups-52642-12212@230741c2adad','global_group_SUITE-hidden_groups-52674-12212@230741c2adad',  'global_group_SUITE-hidden_groups-52706-12212@230741c2adad','global_group_SUITE-hidden_groups-52738-12212@230741c2adad','global_group_SUITE-hidden_groups-52770-12212@230741c2adad']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-52610-12212@230741c2adad','global_group_SUITE-hidden_groups-52642-12212@230741c2adad','global_group_SUITE-hidden_groups-52674-12212@230741c2adad']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-52706-12212@230741c2adad','global_group_SUITE-hidden_groups-52738-12212@230741c2adad','global_group_SUITE-hidden_groups-52770-12212@230741c2adad']}, {nc3, normal, ['global_group_SUITE-hidden_groups-52802-12212@230741c2adad']}]} ] }]. 
