[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-50466-12212@230741c2adad','global_group_SUITE-no_gg_proc_sync-50498-12212@230741c2adad','global_group_SUITE-no_gg_proc_sync-50530-12212@230741c2adad',  'global_group_SUITE-no_gg_proc_sync-50562-12212@230741c2adad','global_group_SUITE-no_gg_proc_sync-50594-12212@230741c2adad','global_group_SUITE-no_gg_proc_sync-50626-12212@230741c2adad']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
