[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_09_02__16_16_29@230741c2adad','cp2_global_groups_change__2024_09_02__16_16_29@230741c2adad','cp3_global_groups_change__2024_09_02__16_16_29@230741c2adad']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_09_02__16_16_29@230741c2adad,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_09_02__16_16_29@230741c2adad,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_09_02__16_16_29@230741c2adad]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_09_02__16_16_29@230741c2adad]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_09_02__16_16_29@230741c2adad]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_09_02__16_16_29@230741c2adad,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_09_02__16_16_29@230741c2adad]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_09_02__16_16_29@230741c2adad,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_09_02__16_16_29@230741c2adad,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_09_02__16_16_29@230741c2adad]}]}]}].
