[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_04_02__21_00_58@15f1f0179b90','cp2_global_groups_change__2024_04_02__21_00_58@15f1f0179b90','cp3_global_groups_change__2024_04_02__21_00_58@15f1f0179b90']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_04_02__21_00_58@15f1f0179b90,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_04_02__21_00_58@15f1f0179b90,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_04_02__21_00_58@15f1f0179b90]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_04_02__21_00_58@15f1f0179b90]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_04_02__21_00_58@15f1f0179b90]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_04_02__21_00_58@15f1f0179b90,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_04_02__21_00_58@15f1f0179b90]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_04_02__21_00_58@15f1f0179b90,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_04_02__21_00_58@15f1f0179b90,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_04_02__21_00_58@15f1f0179b90]}]}]}].
