[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-48418-12143@3bed4c274073','global_group_SUITE-no_gg_proc_sync-48450-12143@3bed4c274073','global_group_SUITE-no_gg_proc_sync-48482-12143@3bed4c274073',  'global_group_SUITE-no_gg_proc_sync-48514-12143@3bed4c274073','global_group_SUITE-no_gg_proc_sync-48546-12143@3bed4c274073','global_group_SUITE-no_gg_proc_sync-48578-12143@3bed4c274073']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
