[{kernel,[{logger,[{handler,default,logger_std_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@463c12b5c480.2024-09-24_09.03.07/make_test_dir.kernel_test.logs/run.2024-09-24_09.03.37/log_private/file.log"}}}]}]}].