[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-53794-12145@d414a48cb2b6','global_group_SUITE-compatible-53826-12145@d414a48cb2b6','global_group_SUITE-compatible-53858-12145@d414a48cb2b6',  'global_group_SUITE-compatible-53890-12145@d414a48cb2b6','global_group_SUITE-compatible-53922-12145@d414a48cb2b6','global_group_SUITE-compatible-53954-12145@d414a48cb2b6']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
