[{kernel,[{sync_nodes_optional,[cp1_otp_4066__2050@d414a48cb2b6,
                                cp2_otp_4066__2082@d414a48cb2b6]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__2050@d414a48cb2b6,
                               cp2_otp_4066__2082@d414a48cb2b6]}]}]}].
