[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-20354-18198@ae32599df935','global_group_SUITE-global_disconnect-cpy-20370-18198@ae32599df935','global_group_SUITE-global_disconnect-cpz-20386-18198@ae32599df935']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-20306-18198@ae32599df935','global_group_SUITE-global_disconnect-cp2-20322-18198@ae32599df935','global_group_SUITE-global_disconnect-cp3-20338-18198@ae32599df935']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-20354-18198@ae32599df935','global_group_SUITE-global_disconnect-cpy-20370-18198@ae32599df935','global_group_SUITE-global_disconnect-cpz-20386-18198@ae32599df935']}]}
  ]
 }].
