[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-19138-18198@ae32599df935','global_group_SUITE-no_gg_proc_sync-19154-18198@ae32599df935','global_group_SUITE-no_gg_proc_sync-19170-18198@ae32599df935',  'global_group_SUITE-no_gg_proc_sync-19186-18198@ae32599df935','global_group_SUITE-no_gg_proc_sync-19202-18198@ae32599df935','global_group_SUITE-no_gg_proc_sync-19218-18198@ae32599df935']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
