[{kernel,[{sync_nodes_optional,[cp1_otp_4066__770@ae32599df935,
                                cp2_otp_4066__786@ae32599df935]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__770@ae32599df935,
                               cp2_otp_4066__786@ae32599df935]}]}]}].
