[{kernel,[{logger,[{handler,default,logger_disk_log_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@0cb6899488bb.2025-02-04_14.17.39/make_test_dir.kernel_test.logs/run.2025-02-04_14.18.06/log_private/logger_std_h_SUITE_crash_std_h_to_disk_log.log"}}}]}]}].