[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-53698-12377@0cb6899488bb','global_group_SUITE-global_disconnect-cp2-53730-12377@0cb6899488bb','global_group_SUITE-global_disconnect-cp3-53762-12377@0cb6899488bb']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-53698-12377@0cb6899488bb','global_group_SUITE-global_disconnect-cp2-53730-12377@0cb6899488bb','global_group_SUITE-global_disconnect-cp3-53762-12377@0cb6899488bb']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-53794-12377@0cb6899488bb','global_group_SUITE-global_disconnect-cpy-53826-12377@0cb6899488bb','global_group_SUITE-global_disconnect-cpz-53858-12377@0cb6899488bb']}]}
  ]
 }].
