[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-51074-12377@0cb6899488bb','global_group_SUITE-no_gg_proc_sync-51106-12377@0cb6899488bb','global_group_SUITE-no_gg_proc_sync-51138-12377@0cb6899488bb',  'global_group_SUITE-no_gg_proc_sync-51170-12377@0cb6899488bb','global_group_SUITE-no_gg_proc_sync-51202-12377@0cb6899488bb','global_group_SUITE-no_gg_proc_sync-51234-12377@0cb6899488bb']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
