[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-49346-12144@157b9ab488c6','global_group_SUITE-global_disconnect-cpy-49378-12144@157b9ab488c6','global_group_SUITE-global_disconnect-cpz-49410-12144@157b9ab488c6']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-49250-12144@157b9ab488c6','global_group_SUITE-global_disconnect-cp2-49282-12144@157b9ab488c6','global_group_SUITE-global_disconnect-cp3-49314-12144@157b9ab488c6']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-49346-12144@157b9ab488c6','global_group_SUITE-global_disconnect-cpy-49378-12144@157b9ab488c6','global_group_SUITE-global_disconnect-cpz-49410-12144@157b9ab488c6']}]}
  ]
 }].
