[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-47074-12144@157b9ab488c6','global_group_SUITE-no_gg_proc_sync-47106-12144@157b9ab488c6','global_group_SUITE-no_gg_proc_sync-47138-12144@157b9ab488c6',  'global_group_SUITE-no_gg_proc_sync-47170-12144@157b9ab488c6','global_group_SUITE-no_gg_proc_sync-47202-12144@157b9ab488c6','global_group_SUITE-no_gg_proc_sync-47234-12144@157b9ab488c6']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
