[{kernel,[{sync_nodes_optional,[cp1_otp_4066__1251@157b9ab488c6,
                                cp2_otp_4066__1283@157b9ab488c6]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__1251@157b9ab488c6,
                               cp2_otp_4066__1283@157b9ab488c6]}]}]}].
