[{kernel,[{logger,[{handler,default,logger_std_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@157b9ab488c6.2024-10-24_22.03.29/make_test_dir.kernel_test.logs/run.2024-10-24_22.03.57/log_private/file.log"}}}]}]}].