[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-53218-12218@c13ab6f82b0b','global_group_SUITE-compatible-53250-12218@c13ab6f82b0b','global_group_SUITE-compatible-53282-12218@c13ab6f82b0b',  'global_group_SUITE-compatible-53314-12218@c13ab6f82b0b','global_group_SUITE-compatible-53346-12218@c13ab6f82b0b','global_group_SUITE-compatible-53378-12218@c13ab6f82b0b']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
