[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-54850-12218@c13ab6f82b0b','global_group_SUITE-hidden_groups-54882-12218@c13ab6f82b0b','global_group_SUITE-hidden_groups-54914-12218@c13ab6f82b0b',  'global_group_SUITE-hidden_groups-54946-12218@c13ab6f82b0b','global_group_SUITE-hidden_groups-54978-12218@c13ab6f82b0b','global_group_SUITE-hidden_groups-55010-12218@c13ab6f82b0b']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-54850-12218@c13ab6f82b0b','global_group_SUITE-hidden_groups-54882-12218@c13ab6f82b0b','global_group_SUITE-hidden_groups-54914-12218@c13ab6f82b0b']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-54946-12218@c13ab6f82b0b','global_group_SUITE-hidden_groups-54978-12218@c13ab6f82b0b','global_group_SUITE-hidden_groups-55010-12218@c13ab6f82b0b']}, {nc3, normal, ['global_group_SUITE-hidden_groups-55042-12218@c13ab6f82b0b']}]} ] }]. 
