[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-52770-12218@c13ab6f82b0b','global_group_SUITE-no_gg_proc_sync-52802-12218@c13ab6f82b0b','global_group_SUITE-no_gg_proc_sync-52834-12218@c13ab6f82b0b',  'global_group_SUITE-no_gg_proc_sync-52866-12218@c13ab6f82b0b','global_group_SUITE-no_gg_proc_sync-52898-12218@c13ab6f82b0b','global_group_SUITE-no_gg_proc_sync-52930-12218@c13ab6f82b0b']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
