[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-53794-12309@2b462b463e7f','global_group_SUITE-no_gg_proc_sync-53826-12309@2b462b463e7f','global_group_SUITE-no_gg_proc_sync-53858-12309@2b462b463e7f',  'global_group_SUITE-no_gg_proc_sync-53890-12309@2b462b463e7f','global_group_SUITE-no_gg_proc_sync-53922-12309@2b462b463e7f','global_group_SUITE-no_gg_proc_sync-53954-12309@2b462b463e7f']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
