[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_20__17_42_51@2b462b463e7f','cp2_global_groups_change__2025_01_20__17_42_51@2b462b463e7f','cp3_global_groups_change__2025_01_20__17_42_51@2b462b463e7f']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_20__17_42_51@2b462b463e7f,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_20__17_42_51@2b462b463e7f,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_20__17_42_51@2b462b463e7f]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_20__17_42_51@2b462b463e7f]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_20__17_42_51@2b462b463e7f]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_20__17_42_51@2b462b463e7f,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_20__17_42_51@2b462b463e7f]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_20__17_42_51@2b462b463e7f,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_20__17_42_51@2b462b463e7f,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_20__17_42_51@2b462b463e7f]}]}]}].
