[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-48994-12196@6fabecfe886d','global_group_SUITE-hidden_groups-49026-12196@6fabecfe886d','global_group_SUITE-hidden_groups-49058-12196@6fabecfe886d',  'global_group_SUITE-hidden_groups-49090-12196@6fabecfe886d','global_group_SUITE-hidden_groups-49122-12196@6fabecfe886d','global_group_SUITE-hidden_groups-49154-12196@6fabecfe886d']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-48994-12196@6fabecfe886d','global_group_SUITE-hidden_groups-49026-12196@6fabecfe886d','global_group_SUITE-hidden_groups-49058-12196@6fabecfe886d']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-49090-12196@6fabecfe886d','global_group_SUITE-hidden_groups-49122-12196@6fabecfe886d','global_group_SUITE-hidden_groups-49154-12196@6fabecfe886d']}, {nc3, normal, ['global_group_SUITE-hidden_groups-49186-12196@6fabecfe886d']}]} ] }]. 
