[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-10979-12196@6fabecfe886d','global_group_SUITE-global_disconnect-cp2-11011-12196@6fabecfe886d','global_group_SUITE-global_disconnect-cp3-11043-12196@6fabecfe886d']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-10979-12196@6fabecfe886d','global_group_SUITE-global_disconnect-cp2-11011-12196@6fabecfe886d','global_group_SUITE-global_disconnect-cp3-11043-12196@6fabecfe886d']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-11075-12196@6fabecfe886d','global_group_SUITE-global_disconnect-cpy-11107-12196@6fabecfe886d','global_group_SUITE-global_disconnect-cpz-11139-12196@6fabecfe886d']}]}
  ]
 }].
