[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-10307-12196@6fabecfe886d','global_group_SUITE-no_gg_proc_sync-10339-12196@6fabecfe886d','global_group_SUITE-no_gg_proc_sync-10371-12196@6fabecfe886d',  'global_group_SUITE-no_gg_proc_sync-10403-12196@6fabecfe886d','global_group_SUITE-no_gg_proc_sync-10435-12196@6fabecfe886d','global_group_SUITE-no_gg_proc_sync-10467-12196@6fabecfe886d']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
