[{kernel,[{sync_nodes_optional,[cp1_otp_4066__2082@6fabecfe886d,
                                cp2_otp_4066__2114@6fabecfe886d]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__2082@6fabecfe886d,
                               cp2_otp_4066__2114@6fabecfe886d]}]}]}].
