[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-35970-12196@b2e6d34c0c94','global_group_SUITE-compatible-36002-12196@b2e6d34c0c94','global_group_SUITE-compatible-36034-12196@b2e6d34c0c94',  'global_group_SUITE-compatible-36066-12196@b2e6d34c0c94','global_group_SUITE-compatible-36098-12196@b2e6d34c0c94','global_group_SUITE-compatible-36130-12196@b2e6d34c0c94']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
