[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-4420-12196@b2e6d34c0c94','global_group_SUITE-global_disconnect-cp2-4452-12196@b2e6d34c0c94','global_group_SUITE-global_disconnect-cp3-4484-12196@b2e6d34c0c94']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-4420-12196@b2e6d34c0c94','global_group_SUITE-global_disconnect-cp2-4452-12196@b2e6d34c0c94','global_group_SUITE-global_disconnect-cp3-4484-12196@b2e6d34c0c94']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-4516-12196@b2e6d34c0c94','global_group_SUITE-global_disconnect-cpy-4548-12196@b2e6d34c0c94','global_group_SUITE-global_disconnect-cpz-4580-12196@b2e6d34c0c94']}]}
  ]
 }].
