[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-35522-12196@b2e6d34c0c94','global_group_SUITE-no_gg_proc_sync-35554-12196@b2e6d34c0c94','global_group_SUITE-no_gg_proc_sync-35586-12196@b2e6d34c0c94',  'global_group_SUITE-no_gg_proc_sync-35618-12196@b2e6d34c0c94','global_group_SUITE-no_gg_proc_sync-35650-12196@b2e6d34c0c94','global_group_SUITE-no_gg_proc_sync-35682-12196@b2e6d34c0c94']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
