[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-46850-12228@1d59c2c89e9f','global_group_SUITE-no_gg_proc_sync-46882-12228@1d59c2c89e9f','global_group_SUITE-no_gg_proc_sync-46914-12228@1d59c2c89e9f',  'global_group_SUITE-no_gg_proc_sync-46946-12228@1d59c2c89e9f','global_group_SUITE-no_gg_proc_sync-46978-12228@1d59c2c89e9f','global_group_SUITE-no_gg_proc_sync-47010-12228@1d59c2c89e9f']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
