[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f','cp2_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f','cp3_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_08_06__11_31_43@1d59c2c89e9f]}]}]}].
