[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-53506-12150@de3f76024203','global_group_SUITE-global_disconnect-cp2-53538-12150@de3f76024203','global_group_SUITE-global_disconnect-cp3-53570-12150@de3f76024203']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-53506-12150@de3f76024203','global_group_SUITE-global_disconnect-cp2-53538-12150@de3f76024203','global_group_SUITE-global_disconnect-cp3-53570-12150@de3f76024203']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-53602-12150@de3f76024203','global_group_SUITE-global_disconnect-cpy-53634-12150@de3f76024203','global_group_SUITE-global_disconnect-cpz-53666-12150@de3f76024203']}]}
  ]
 }].
