[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-12451-12145@281377cdbc29','global_group_SUITE-global_disconnect-cp2-12483-12145@281377cdbc29','global_group_SUITE-global_disconnect-cp3-12515-12145@281377cdbc29']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-12451-12145@281377cdbc29','global_group_SUITE-global_disconnect-cp2-12483-12145@281377cdbc29','global_group_SUITE-global_disconnect-cp3-12515-12145@281377cdbc29']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-12547-12145@281377cdbc29','global_group_SUITE-global_disconnect-cpy-12579-12145@281377cdbc29','global_group_SUITE-global_disconnect-cpz-12611-12145@281377cdbc29']}]}
  ]
 }].
