[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-45730-12145@281377cdbc29','global_group_SUITE-no_gg_proc_sync-45762-12145@281377cdbc29','global_group_SUITE-no_gg_proc_sync-45794-12145@281377cdbc29',  'global_group_SUITE-no_gg_proc_sync-45826-12145@281377cdbc29','global_group_SUITE-no_gg_proc_sync-45858-12145@281377cdbc29','global_group_SUITE-no_gg_proc_sync-45890-12145@281377cdbc29']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
