[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3234@281377cdbc29,
                                cp2_otp_4066__3266@281377cdbc29]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3234@281377cdbc29,
                               cp2_otp_4066__3266@281377cdbc29]}]}]}].
