[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_09_24__14_19_23@798f29742f46','cp2_global_groups_change__2024_09_24__14_19_23@798f29742f46','cp3_global_groups_change__2024_09_24__14_19_23@798f29742f46']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_09_24__14_19_23@798f29742f46,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_09_24__14_19_23@798f29742f46,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_09_24__14_19_23@798f29742f46]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_09_24__14_19_23@798f29742f46]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_09_24__14_19_23@798f29742f46]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_09_24__14_19_23@798f29742f46,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_09_24__14_19_23@798f29742f46]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_09_24__14_19_23@798f29742f46,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_09_24__14_19_23@798f29742f46,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_09_24__14_19_23@798f29742f46]}]}]}].
