[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-8131-12212@8a66a0e906f3','global_group_SUITE-global_disconnect-cpy-8163-12212@8a66a0e906f3','global_group_SUITE-global_disconnect-cpz-8195-12212@8a66a0e906f3']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-8035-12212@8a66a0e906f3','global_group_SUITE-global_disconnect-cp2-8067-12212@8a66a0e906f3','global_group_SUITE-global_disconnect-cp3-8099-12212@8a66a0e906f3']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-8131-12212@8a66a0e906f3','global_group_SUITE-global_disconnect-cpy-8163-12212@8a66a0e906f3','global_group_SUITE-global_disconnect-cpz-8195-12212@8a66a0e906f3']}]}
  ]
 }].
