[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-53218-12212@8a66a0e906f3','global_group_SUITE-no_gg_proc_sync-53250-12212@8a66a0e906f3','global_group_SUITE-no_gg_proc_sync-53282-12212@8a66a0e906f3',  'global_group_SUITE-no_gg_proc_sync-53314-12212@8a66a0e906f3','global_group_SUITE-no_gg_proc_sync-53346-12212@8a66a0e906f3','global_group_SUITE-no_gg_proc_sync-53378-12212@8a66a0e906f3']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
