[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-54562-12376@588cbf8af492','global_group_SUITE-compatible-54594-12376@588cbf8af492','global_group_SUITE-compatible-54626-12376@588cbf8af492',  'global_group_SUITE-compatible-54658-12376@588cbf8af492','global_group_SUITE-compatible-54690-12376@588cbf8af492','global_group_SUITE-compatible-54722-12376@588cbf8af492']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
