[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-56290-12376@588cbf8af492','global_group_SUITE-hidden_groups-56322-12376@588cbf8af492','global_group_SUITE-hidden_groups-56354-12376@588cbf8af492',  'global_group_SUITE-hidden_groups-56386-12376@588cbf8af492','global_group_SUITE-hidden_groups-56418-12376@588cbf8af492','global_group_SUITE-hidden_groups-56450-12376@588cbf8af492']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-56290-12376@588cbf8af492','global_group_SUITE-hidden_groups-56322-12376@588cbf8af492','global_group_SUITE-hidden_groups-56354-12376@588cbf8af492']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-56386-12376@588cbf8af492','global_group_SUITE-hidden_groups-56418-12376@588cbf8af492','global_group_SUITE-hidden_groups-56450-12376@588cbf8af492']}, {nc3, normal, ['global_group_SUITE-hidden_groups-56482-12376@588cbf8af492']}]} ] }]. 
