[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-50530-12150@e040651168ee','global_group_SUITE-global_disconnect-cpy-50562-12150@e040651168ee','global_group_SUITE-global_disconnect-cpz-50594-12150@e040651168ee']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-50434-12150@e040651168ee','global_group_SUITE-global_disconnect-cp2-50466-12150@e040651168ee','global_group_SUITE-global_disconnect-cp3-50498-12150@e040651168ee']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-50530-12150@e040651168ee','global_group_SUITE-global_disconnect-cpy-50562-12150@e040651168ee','global_group_SUITE-global_disconnect-cpz-50594-12150@e040651168ee']}]}
  ]
 }].
