[{kernel,[{logger,[{handler,default,logger_std_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@e040651168ee.2024-11-21_11.37.02/make_test_dir.kernel_test.logs/run.2024-11-21_11.37.29/log_private/file.log"}}}]}]}].