[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_11_21__12_10_11@e040651168ee','cp2_global_groups_change__2024_11_21__12_10_11@e040651168ee','cp3_global_groups_change__2024_11_21__12_10_11@e040651168ee']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_11_21__12_10_11@e040651168ee,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_11_21__12_10_11@e040651168ee,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_11_21__12_10_11@e040651168ee]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_11_21__12_10_11@e040651168ee]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_11_21__12_10_11@e040651168ee]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_11_21__12_10_11@e040651168ee,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_11_21__12_10_11@e040651168ee]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_11_21__12_10_11@e040651168ee,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_11_21__12_10_11@e040651168ee,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_11_21__12_10_11@e040651168ee]}]}]}].
