[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-55746-12309@0fa43f95d544','global_group_SUITE-global_disconnect-cpy-55778-12309@0fa43f95d544','global_group_SUITE-global_disconnect-cpz-55810-12309@0fa43f95d544']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-55650-12309@0fa43f95d544','global_group_SUITE-global_disconnect-cp2-55682-12309@0fa43f95d544','global_group_SUITE-global_disconnect-cp3-55714-12309@0fa43f95d544']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-55746-12309@0fa43f95d544','global_group_SUITE-global_disconnect-cpy-55778-12309@0fa43f95d544','global_group_SUITE-global_disconnect-cpz-55810-12309@0fa43f95d544']}]}
  ]
 }].
