[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-52994-12309@0fa43f95d544','global_group_SUITE-no_gg_proc_sync-53026-12309@0fa43f95d544','global_group_SUITE-no_gg_proc_sync-53058-12309@0fa43f95d544',  'global_group_SUITE-no_gg_proc_sync-53090-12309@0fa43f95d544','global_group_SUITE-no_gg_proc_sync-53122-12309@0fa43f95d544','global_group_SUITE-no_gg_proc_sync-53154-12309@0fa43f95d544']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
