[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-50562-12143@2f63b63edae0','global_group_SUITE-compatible-50594-12143@2f63b63edae0','global_group_SUITE-compatible-50626-12143@2f63b63edae0',  'global_group_SUITE-compatible-50658-12143@2f63b63edae0','global_group_SUITE-compatible-50690-12143@2f63b63edae0','global_group_SUITE-compatible-50722-12143@2f63b63edae0']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
