[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-52738-12143@2f63b63edae0','global_group_SUITE-global_disconnect-cp2-52770-12143@2f63b63edae0','global_group_SUITE-global_disconnect-cp3-52802-12143@2f63b63edae0']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-52738-12143@2f63b63edae0','global_group_SUITE-global_disconnect-cp2-52770-12143@2f63b63edae0','global_group_SUITE-global_disconnect-cp3-52802-12143@2f63b63edae0']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-52834-12143@2f63b63edae0','global_group_SUITE-global_disconnect-cpy-52866-12143@2f63b63edae0','global_group_SUITE-global_disconnect-cpz-52898-12143@2f63b63edae0']}]}
  ]
 }].
