[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-50114-12143@2f63b63edae0','global_group_SUITE-no_gg_proc_sync-50146-12143@2f63b63edae0','global_group_SUITE-no_gg_proc_sync-50178-12143@2f63b63edae0',  'global_group_SUITE-no_gg_proc_sync-50210-12143@2f63b63edae0','global_group_SUITE-no_gg_proc_sync-50242-12143@2f63b63edae0','global_group_SUITE-no_gg_proc_sync-50274-12143@2f63b63edae0']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
