[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_10_02__16_56_05@2f63b63edae0','cp2_global_groups_change__2024_10_02__16_56_05@2f63b63edae0','cp3_global_groups_change__2024_10_02__16_56_05@2f63b63edae0']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_10_02__16_56_05@2f63b63edae0,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_10_02__16_56_05@2f63b63edae0,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_10_02__16_56_05@2f63b63edae0]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_10_02__16_56_05@2f63b63edae0]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_10_02__16_56_05@2f63b63edae0]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_10_02__16_56_05@2f63b63edae0,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_10_02__16_56_05@2f63b63edae0]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_10_02__16_56_05@2f63b63edae0,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_10_02__16_56_05@2f63b63edae0,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_10_02__16_56_05@2f63b63edae0]}]}]}].
