[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-41090-12217@c64a1c42c090','global_group_SUITE-global_disconnect-cp2-41122-12217@c64a1c42c090','global_group_SUITE-global_disconnect-cp3-41154-12217@c64a1c42c090']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-41090-12217@c64a1c42c090','global_group_SUITE-global_disconnect-cp2-41122-12217@c64a1c42c090','global_group_SUITE-global_disconnect-cp3-41154-12217@c64a1c42c090']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-41186-12217@c64a1c42c090','global_group_SUITE-global_disconnect-cpy-41218-12217@c64a1c42c090','global_group_SUITE-global_disconnect-cpz-41250-12217@c64a1c42c090']}]}
  ]
 }].
