[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-38818-12217@c64a1c42c090','global_group_SUITE-no_gg_proc_sync-38850-12217@c64a1c42c090','global_group_SUITE-no_gg_proc_sync-38882-12217@c64a1c42c090',  'global_group_SUITE-no_gg_proc_sync-38914-12217@c64a1c42c090','global_group_SUITE-no_gg_proc_sync-38946-12217@c64a1c42c090','global_group_SUITE-no_gg_proc_sync-38978-12217@c64a1c42c090']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
