[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_12_02__16_09_23@c64a1c42c090','cp2_global_groups_change__2024_12_02__16_09_23@c64a1c42c090','cp3_global_groups_change__2024_12_02__16_09_23@c64a1c42c090']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_12_02__16_09_23@c64a1c42c090,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_12_02__16_09_23@c64a1c42c090,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_12_02__16_09_23@c64a1c42c090]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_12_02__16_09_23@c64a1c42c090]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_12_02__16_09_23@c64a1c42c090]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_12_02__16_09_23@c64a1c42c090,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_12_02__16_09_23@c64a1c42c090]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_12_02__16_09_23@c64a1c42c090,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_12_02__16_09_23@c64a1c42c090,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_12_02__16_09_23@c64a1c42c090]}]}]}].
