[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-14499-12150@8106deb54cb6','global_group_SUITE-compatible-14531-12150@8106deb54cb6','global_group_SUITE-compatible-14563-12150@8106deb54cb6',  'global_group_SUITE-compatible-14595-12150@8106deb54cb6','global_group_SUITE-compatible-14627-12150@8106deb54cb6','global_group_SUITE-compatible-14659-12150@8106deb54cb6']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
