[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-15203-12150@8106deb54cb6','global_group_SUITE-hidden_groups-15235-12150@8106deb54cb6','global_group_SUITE-hidden_groups-15267-12150@8106deb54cb6',  'global_group_SUITE-hidden_groups-15299-12150@8106deb54cb6','global_group_SUITE-hidden_groups-15331-12150@8106deb54cb6','global_group_SUITE-hidden_groups-15363-12150@8106deb54cb6']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-15203-12150@8106deb54cb6','global_group_SUITE-hidden_groups-15235-12150@8106deb54cb6','global_group_SUITE-hidden_groups-15267-12150@8106deb54cb6']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-15299-12150@8106deb54cb6','global_group_SUITE-hidden_groups-15331-12150@8106deb54cb6','global_group_SUITE-hidden_groups-15363-12150@8106deb54cb6']}, {nc3, normal, ['global_group_SUITE-hidden_groups-15395-12150@8106deb54cb6']}]} ] }]. 
