[{kernel,[{logger,[{handler,default,logger_std_h,
                       #{config =>
                             #{type =>
                                   {file,
                                       "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@8106deb54cb6.2024-11-21_12.32.49/make_test_dir.kernel_test.logs/run.2024-11-21_12.33.17/log_private/logger_std_h_SUITE_crash_std_h_to_file.log"}}}}]}]}].