[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-48098-12150@8106deb54cb6','global_group_SUITE-global_disconnect-cp2-48130-12150@8106deb54cb6','global_group_SUITE-global_disconnect-cp3-48162-12150@8106deb54cb6']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-48098-12150@8106deb54cb6','global_group_SUITE-global_disconnect-cp2-48130-12150@8106deb54cb6','global_group_SUITE-global_disconnect-cp3-48162-12150@8106deb54cb6']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-48194-12150@8106deb54cb6','global_group_SUITE-global_disconnect-cpy-48226-12150@8106deb54cb6','global_group_SUITE-global_disconnect-cpz-48258-12150@8106deb54cb6']}]}
  ]
 }].
