[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-46370-12150@8106deb54cb6','global_group_SUITE-no_gg_proc_sync-46402-12150@8106deb54cb6','global_group_SUITE-no_gg_proc_sync-46434-12150@8106deb54cb6',  'global_group_SUITE-no_gg_proc_sync-46466-12150@8106deb54cb6','global_group_SUITE-no_gg_proc_sync-46498-12150@8106deb54cb6','global_group_SUITE-no_gg_proc_sync-46530-12150@8106deb54cb6']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
