[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-12515-12217@3861ea5e12f0','global_group_SUITE-no_gg_proc_sync-12547-12217@3861ea5e12f0','global_group_SUITE-no_gg_proc_sync-12579-12217@3861ea5e12f0',  'global_group_SUITE-no_gg_proc_sync-12611-12217@3861ea5e12f0','global_group_SUITE-no_gg_proc_sync-12643-12217@3861ea5e12f0','global_group_SUITE-no_gg_proc_sync-12675-12217@3861ea5e12f0']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
