[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-2308-12207@e53c5ad05e1b','global_group_SUITE-two_grp-2340-12207@e53c5ad05e1b','global_group_SUITE-two_grp-2372-12207@e53c5ad05e1b',  'global_group_SUITE-two_grp-2404-12207@e53c5ad05e1b','global_group_SUITE-two_grp-2436-12207@e53c5ad05e1b','global_group_SUITE-two_grp-2468-12207@e53c5ad05e1b']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-2308-12207@e53c5ad05e1b','global_group_SUITE-two_grp-2340-12207@e53c5ad05e1b','global_group_SUITE-two_grp-2372-12207@e53c5ad05e1b']},  {nc2, ['global_group_SUITE-two_grp-2404-12207@e53c5ad05e1b','global_group_SUITE-two_grp-2436-12207@e53c5ad05e1b','global_group_SUITE-two_grp-2468-12207@e53c5ad05e1b']}, {nc3, ['global_group_SUITE-two_grp-2500-12207@e53c5ad05e1b']}]} ] }]. 
