[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3266@e53c5ad05e1b,
                                cp2_otp_4066__3298@e53c5ad05e1b]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3266@e53c5ad05e1b,
                               cp2_otp_4066__3298@e53c5ad05e1b]}]}]}].
