[{kernel,[{logger,[{handler,default,logger_std_h,
                            #{config =>
                                  #{file =>
                                        "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@e53c5ad05e1b.2024-02-29_17.27.51/make_test_dir.kernel_test.logs/run.2024-02-29_17.28.23/log_private/file.log"}}}]}]}].