[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b','cp2_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b','cp3_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_02_29__17_57_56@e53c5ad05e1b]}]}]}].
