[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-53346-12309@521d659a2dca','global_group_SUITE-hidden_groups-53378-12309@521d659a2dca','global_group_SUITE-hidden_groups-53410-12309@521d659a2dca',  'global_group_SUITE-hidden_groups-53442-12309@521d659a2dca','global_group_SUITE-hidden_groups-53474-12309@521d659a2dca','global_group_SUITE-hidden_groups-53506-12309@521d659a2dca']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-53346-12309@521d659a2dca','global_group_SUITE-hidden_groups-53378-12309@521d659a2dca','global_group_SUITE-hidden_groups-53410-12309@521d659a2dca']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-53442-12309@521d659a2dca','global_group_SUITE-hidden_groups-53474-12309@521d659a2dca','global_group_SUITE-hidden_groups-53506-12309@521d659a2dca']}, {nc3, normal, ['global_group_SUITE-hidden_groups-53538-12309@521d659a2dca']}]} ] }]. 
