[{kernel,[{logger,[{handler,default,logger_std_h,
                       #{config =>
                             #{type =>
                                   {file,
                                       "/buildroot/otp/lib/kernel/make_test_dir/ct_logs/ct_run.test_server@521d659a2dca.2025-01-28_17.40.43/make_test_dir.kernel_test.logs/run.2025-01-28_17.41.12/log_private/logger_std_h_SUITE_crash_std_h_to_file.log"}}}}]}]}].