[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-53922-12309@521d659a2dca','global_group_SUITE-global_disconnect-cpy-53954-12309@521d659a2dca','global_group_SUITE-global_disconnect-cpz-53986-12309@521d659a2dca']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-53826-12309@521d659a2dca','global_group_SUITE-global_disconnect-cp2-53858-12309@521d659a2dca','global_group_SUITE-global_disconnect-cp3-53890-12309@521d659a2dca']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-53922-12309@521d659a2dca','global_group_SUITE-global_disconnect-cpy-53954-12309@521d659a2dca','global_group_SUITE-global_disconnect-cpz-53986-12309@521d659a2dca']}]}
  ]
 }].
