[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-51138-12309@521d659a2dca','global_group_SUITE-no_gg_proc_sync-51170-12309@521d659a2dca','global_group_SUITE-no_gg_proc_sync-51202-12309@521d659a2dca',  'global_group_SUITE-no_gg_proc_sync-51234-12309@521d659a2dca','global_group_SUITE-no_gg_proc_sync-51266-12309@521d659a2dca','global_group_SUITE-no_gg_proc_sync-51298-12309@521d659a2dca']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
