[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2025_01_28__18_13_59@521d659a2dca','cp2_global_groups_change__2025_01_28__18_13_59@521d659a2dca','cp3_global_groups_change__2025_01_28__18_13_59@521d659a2dca']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2025_01_28__18_13_59@521d659a2dca,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2025_01_28__18_13_59@521d659a2dca,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2025_01_28__18_13_59@521d659a2dca]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2025_01_28__18_13_59@521d659a2dca]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2025_01_28__18_13_59@521d659a2dca]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2025_01_28__18_13_59@521d659a2dca,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2025_01_28__18_13_59@521d659a2dca]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2025_01_28__18_13_59@521d659a2dca,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2025_01_28__18_13_59@521d659a2dca,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2025_01_28__18_13_59@521d659a2dca]}]}]}].
