[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-48706-12208@d415775c2afe','global_group_SUITE-compatible-48738-12208@d415775c2afe','global_group_SUITE-compatible-48770-12208@d415775c2afe',  'global_group_SUITE-compatible-48802-12208@d415775c2afe','global_group_SUITE-compatible-48834-12208@d415775c2afe','global_group_SUITE-compatible-48866-12208@d415775c2afe']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
