[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-11267-12208@d415775c2afe','global_group_SUITE-hidden_groups-11299-12208@d415775c2afe','global_group_SUITE-hidden_groups-11331-12208@d415775c2afe',  'global_group_SUITE-hidden_groups-11363-12208@d415775c2afe','global_group_SUITE-hidden_groups-11395-12208@d415775c2afe','global_group_SUITE-hidden_groups-11427-12208@d415775c2afe']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-11267-12208@d415775c2afe','global_group_SUITE-hidden_groups-11299-12208@d415775c2afe','global_group_SUITE-hidden_groups-11331-12208@d415775c2afe']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-11363-12208@d415775c2afe','global_group_SUITE-hidden_groups-11395-12208@d415775c2afe','global_group_SUITE-hidden_groups-11427-12208@d415775c2afe']}, {nc3, normal, ['global_group_SUITE-hidden_groups-11459-12208@d415775c2afe']}]} ] }]. 
