[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cp1-11523-12208@d415775c2afe','global_group_SUITE-global_disconnect-cp2-11555-12208@d415775c2afe','global_group_SUITE-global_disconnect-cp3-11587-12208@d415775c2afe']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-11523-12208@d415775c2afe','global_group_SUITE-global_disconnect-cp2-11555-12208@d415775c2afe','global_group_SUITE-global_disconnect-cp3-11587-12208@d415775c2afe']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-11619-12208@d415775c2afe','global_group_SUITE-global_disconnect-cpy-11651-12208@d415775c2afe','global_group_SUITE-global_disconnect-cpz-11683-12208@d415775c2afe']}]}
  ]
 }].
