[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3266@d415775c2afe,
                                cp2_otp_4066__3298@d415775c2afe]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3266@d415775c2afe,
                               cp2_otp_4066__3298@d415775c2afe]}]}]}].
