[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_02_28__07_44_21@d415775c2afe','cp2_global_groups_change__2024_02_28__07_44_21@d415775c2afe','cp3_global_groups_change__2024_02_28__07_44_21@d415775c2afe']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_02_28__07_44_21@d415775c2afe,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_02_28__07_44_21@d415775c2afe,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_02_28__07_44_21@d415775c2afe]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_02_28__07_44_21@d415775c2afe]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_02_28__07_44_21@d415775c2afe]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_02_28__07_44_21@d415775c2afe,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_02_28__07_44_21@d415775c2afe]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_02_28__07_44_21@d415775c2afe,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_02_28__07_44_21@d415775c2afe,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_02_28__07_44_21@d415775c2afe]}]}]}].
