[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-52386-12196@8ae1f3fc6a13','global_group_SUITE-global_disconnect-cpy-52418-12196@8ae1f3fc6a13','global_group_SUITE-global_disconnect-cpz-52450-12196@8ae1f3fc6a13']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-52290-12196@8ae1f3fc6a13','global_group_SUITE-global_disconnect-cp2-52322-12196@8ae1f3fc6a13','global_group_SUITE-global_disconnect-cp3-52354-12196@8ae1f3fc6a13']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-52386-12196@8ae1f3fc6a13','global_group_SUITE-global_disconnect-cpy-52418-12196@8ae1f3fc6a13','global_group_SUITE-global_disconnect-cpz-52450-12196@8ae1f3fc6a13']}]}
  ]
 }].
