[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3106@8ae1f3fc6a13,
                                cp2_otp_4066__3138@8ae1f3fc6a13]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3106@8ae1f3fc6a13,
                               cp2_otp_4066__3138@8ae1f3fc6a13]}]}]}].
