[{kernel, [{sync_nodes_optional, ['cp1_global_groups_change__2024_10_02__14_44_29@21c2791610c8','cp2_global_groups_change__2024_10_02__14_44_29@21c2791610c8','cp3_global_groups_change__2024_10_02__14_44_29@21c2791610c8']},{sync_nodes_timeout, 1000},{global_groups,
                                                                                                                                                                                                                                                          [{gg1,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp1_global_groups_change__2024_10_02__14_44_29@21c2791610c8,
                                                                                                                                                                                                                                                             cp2_global_groups_change__2024_10_02__14_44_29@21c2791610c8,
                                                                                                                                                                                                                                                             cp5_global_groups_change__2024_10_02__14_44_29@21c2791610c8]},
                                                                                                                                                                                                                                                           {gg2,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp3_global_groups_change__2024_10_02__14_44_29@21c2791610c8]},
                                                                                                                                                                                                                                                           {gg3,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cp4_global_groups_change__2024_10_02__14_44_29@21c2791610c8]},
                                                                                                                                                                                                                                                           {gg4,
                                                                                                                                                                                                                                                            normal,
                                                                                                                                                                                                                                                            [cpA_global_groups_change__2024_10_02__14_44_29@21c2791610c8,
                                                                                                                                                                                                                                                             cpB_global_groups_change__2024_10_02__14_44_29@21c2791610c8]},
                                                                                                                                                                                                                                                           {gg5,
                                                                                                                                                                                                                                                            hidden,
                                                                                                                                                                                                                                                            [cpC_global_groups_change__2024_10_02__14_44_29@21c2791610c8,
                                                                                                                                                                                                                                                             cpD_global_groups_change__2024_10_02__14_44_29@21c2791610c8,
                                                                                                                                                                                                                                                             cpE_global_groups_change__2024_10_02__14_44_29@21c2791610c8]}]}]}].
