[{kernel, [{sync_nodes_optional, ['global_group_SUITE-two_grp-52834-12145@b5ec4ed64baf','global_group_SUITE-two_grp-52866-12145@b5ec4ed64baf','global_group_SUITE-two_grp-52898-12145@b5ec4ed64baf',  'global_group_SUITE-two_grp-52930-12145@b5ec4ed64baf','global_group_SUITE-two_grp-52962-12145@b5ec4ed64baf','global_group_SUITE-two_grp-52994-12145@b5ec4ed64baf']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, ['global_group_SUITE-two_grp-52834-12145@b5ec4ed64baf','global_group_SUITE-two_grp-52866-12145@b5ec4ed64baf','global_group_SUITE-two_grp-52898-12145@b5ec4ed64baf']},  {nc2, ['global_group_SUITE-two_grp-52930-12145@b5ec4ed64baf','global_group_SUITE-two_grp-52962-12145@b5ec4ed64baf','global_group_SUITE-two_grp-52994-12145@b5ec4ed64baf']}, {nc3, ['global_group_SUITE-two_grp-53026-12145@b5ec4ed64baf']}]} ] }]. 
