[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-53506-12145@b5ec4ed64baf','global_group_SUITE-hidden_groups-53538-12145@b5ec4ed64baf','global_group_SUITE-hidden_groups-53570-12145@b5ec4ed64baf',  'global_group_SUITE-hidden_groups-53602-12145@b5ec4ed64baf','global_group_SUITE-hidden_groups-53634-12145@b5ec4ed64baf','global_group_SUITE-hidden_groups-53666-12145@b5ec4ed64baf']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-53506-12145@b5ec4ed64baf','global_group_SUITE-hidden_groups-53538-12145@b5ec4ed64baf','global_group_SUITE-hidden_groups-53570-12145@b5ec4ed64baf']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-53602-12145@b5ec4ed64baf','global_group_SUITE-hidden_groups-53634-12145@b5ec4ed64baf','global_group_SUITE-hidden_groups-53666-12145@b5ec4ed64baf']}, {nc3, normal, ['global_group_SUITE-hidden_groups-53698-12145@b5ec4ed64baf']}]} ] }]. 
