[{kernel,
  [
   {sync_nodes_optional, ['global_group_SUITE-global_disconnect-cpx-54082-12145@b5ec4ed64baf','global_group_SUITE-global_disconnect-cpy-54114-12145@b5ec4ed64baf','global_group_SUITE-global_disconnect-cpz-54146-12145@b5ec4ed64baf']},
   {sync_nodes_timeout, 1000},
   {global_groups,
    [{nc1, ['global_group_SUITE-global_disconnect-cp1-53986-12145@b5ec4ed64baf','global_group_SUITE-global_disconnect-cp2-54018-12145@b5ec4ed64baf','global_group_SUITE-global_disconnect-cp3-54050-12145@b5ec4ed64baf']},
     {nc2, ['global_group_SUITE-global_disconnect-cpx-54082-12145@b5ec4ed64baf','global_group_SUITE-global_disconnect-cpy-54114-12145@b5ec4ed64baf','global_group_SUITE-global_disconnect-cpz-54146-12145@b5ec4ed64baf']}]}
  ]
 }].
