[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-3748-12208@4fe90fbc05bc','global_group_SUITE-compatible-3780-12208@4fe90fbc05bc','global_group_SUITE-compatible-3812-12208@4fe90fbc05bc',  'global_group_SUITE-compatible-3844-12208@4fe90fbc05bc','global_group_SUITE-compatible-3876-12208@4fe90fbc05bc','global_group_SUITE-compatible-3908-12208@4fe90fbc05bc']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
