[{kernel, [{sync_nodes_optional, ['global_group_SUITE-hidden_groups-8035-12208@4fe90fbc05bc','global_group_SUITE-hidden_groups-8067-12208@4fe90fbc05bc','global_group_SUITE-hidden_groups-8099-12208@4fe90fbc05bc',  'global_group_SUITE-hidden_groups-8131-12208@4fe90fbc05bc','global_group_SUITE-hidden_groups-8163-12208@4fe90fbc05bc','global_group_SUITE-hidden_groups-8195-12208@4fe90fbc05bc']},{sync_nodes_timeout, 1000},{global_groups, [{nc1, hidden, ['global_group_SUITE-hidden_groups-8035-12208@4fe90fbc05bc','global_group_SUITE-hidden_groups-8067-12208@4fe90fbc05bc','global_group_SUITE-hidden_groups-8099-12208@4fe90fbc05bc']}, {nc2, hidden, ['global_group_SUITE-hidden_groups-8131-12208@4fe90fbc05bc','global_group_SUITE-hidden_groups-8163-12208@4fe90fbc05bc','global_group_SUITE-hidden_groups-8195-12208@4fe90fbc05bc']}, {nc3, normal, ['global_group_SUITE-hidden_groups-8227-12208@4fe90fbc05bc']}]} ] }]. 
