[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-7171-12208@4fe90fbc05bc','global_group_SUITE-no_gg_proc_sync-7203-12208@4fe90fbc05bc','global_group_SUITE-no_gg_proc_sync-7235-12208@4fe90fbc05bc',  'global_group_SUITE-no_gg_proc_sync-7267-12208@4fe90fbc05bc','global_group_SUITE-no_gg_proc_sync-7299-12208@4fe90fbc05bc','global_group_SUITE-no_gg_proc_sync-7331-12208@4fe90fbc05bc']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
