[{kernel,[{sync_nodes_optional,[cp1_otp_4066__1986@4fe90fbc05bc,
                                cp2_otp_4066__2018@4fe90fbc05bc]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__1986@4fe90fbc05bc,
                               cp2_otp_4066__2018@4fe90fbc05bc]}]}]}].
