[{kernel, [{sync_nodes_optional, ['global_group_SUITE-no_gg_proc_sync-43938-12227@136a9267e5ef','global_group_SUITE-no_gg_proc_sync-43970-12227@136a9267e5ef','global_group_SUITE-no_gg_proc_sync-44002-12227@136a9267e5ef',  'global_group_SUITE-no_gg_proc_sync-44034-12227@136a9267e5ef','global_group_SUITE-no_gg_proc_sync-44066-12227@136a9267e5ef','global_group_SUITE-no_gg_proc_sync-44098-12227@136a9267e5ef']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
