[{kernel, [{sync_nodes_optional, ['global_group_SUITE-compatible-52514-12309@fdfcdf6f830e','global_group_SUITE-compatible-52546-12309@fdfcdf6f830e','global_group_SUITE-compatible-52578-12309@fdfcdf6f830e',  'global_group_SUITE-compatible-52610-12309@fdfcdf6f830e','global_group_SUITE-compatible-52642-12309@fdfcdf6f830e','global_group_SUITE-compatible-52674-12309@fdfcdf6f830e']},{sync_nodes_timeout, 1000},{global_groups, []} ] }] .
