[{kernel,[{sync_nodes_optional,[cp1_otp_4066__3266@fdfcdf6f830e,
                                cp2_otp_4066__3298@fdfcdf6f830e]},
          {sync_nodes_timeout,5000},
          {distributed,[{app1,[cp1_otp_4066__3266@fdfcdf6f830e,
                               cp2_otp_4066__3298@fdfcdf6f830e]}]}]}].
